<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.text_field :distance %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :source_name %>
    <%= form.text_field :source_name %>
  </div>

  <div class="field">
    <%= form.label :destination_name %>
    <%= form.text_field :destination_name %>
  </div>

  <div class="field">
    <%= form.label :source_place_id %>
    <%= form.text_field :source_place_id %>
  </div>

  <div class="field">
    <%= form.label :destination_place_id %>
    <%= form.text_field :destination_place_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
