<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Distance</th>
      <th>Price</th>
      <th>User</th>
      <th>Source name</th>
      <th>Destination name</th>
      <th>Source place</th>
      <th>Destination place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.source %></td>
        <td><%= booking.destination %></td>
        <td><%= booking.distance %></td>
        <td><%= booking.price %></td>
        <td><%= booking.user_id %></td>
        <td><%= booking.source_name %></td>
        <td><%= booking.destination_name %></td>
        <td><%= booking.source_place_id %></td>
        <td><%= booking.destination_place_id %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
