<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @booking.source %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @booking.destination %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @booking.distance %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booking.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Source name:</strong>
  <%= @booking.source_name %>
</p>

<p>
  <strong>Destination name:</strong>
  <%= @booking.destination_name %>
</p>

<p>
  <strong>Source place:</strong>
  <%= @booking.source_place_id %>
</p>

<p>
  <strong>Destination place:</strong>
  <%= @booking.destination_place_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
