<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="locationinput-holder">
    <input class="locationinput" (click)="chooseOrigin()" placeholder="Where do you want to pickup?" type="text"
      value="{{origin ? origin.vicinity : '' }}">
    <input class="locationinput" (click)="chooseDestination()" placeholder="Where do you want to drop?" type="text"
      value="{{ destination ? destination.vicinity : '' }}">
  </div>

  <div id="{{ mapId }}" [ngStyle]="{height: '100%'}"></div>

  <div class="align-bottom">

    <p class="distanceText">
      <span *ngIf="distanceText!=''">Distance: {{ distanceText }}</span>
      <span *ngIf="durationText!=''">&nbsp; Duration: {{durationText}}</span>
    </p>
    <ion-row [hidden]="!destination">
      <ion-col (click)="choosePaymentMethod1()">
        <ion-icon name="Card" color="gray"></ion-icon>
        <span ion-text color="gray">{{ getPaymentMethod() }}</span>
      </ion-col>
      <ion-col (click)="showPromoPopup()" *ngIf="destination">
        <ion-icon name="create" color="gray"></ion-icon>
        <span ion-text color="gray">{{'PROMO' | translate}}</span>
      </ion-col>
      <ion-col (click)="showNotePopup()">
        <ion-icon name="create" color="gray"></ion-icon>
        <span ion-text color="gray">{{'NOTE' | translate}}</span>
      </ion-col>
    </ion-row>

    <ion-row [hidden]="!destination">

      <ion-col *ngFor="let vehicle of vehicles; let i = index" [ngClass]="{'active': vehicle.active}"
        (click)="chooseVehicle(vehicle.id)">
        <img src="{{ vehicle.icon }}">
        <p>{{ vehicle.name }}</p>
        <p>{{currency }}{{ vehicle.fee }}</p>
      </ion-col>

    </ion-row>


    <ion-button expand="block" color="dark" [hidden]="destination" (click)="chooseDestination()">
      {{'RIDE_NOW' | translate}}</ion-button>
    <ion-button expand="block" color="dark" [hidden]="!destination" (click)="book()">
      {{ locateDriver == false ? 'RIDE NOW':'Locating Drivers'}} <ion-spinner name="dots" color="light"
        [hidden]="!locateDriver"></ion-spinner>
    </ion-button>
  </div>
</ion-content>