<ion-header>
  <ion-toolbar>
    <ion-title>{{'ON_THE_WAY' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="tripStatus == 'waiting'" (click)="cancelTrip()">{{'CANCEL_TRIP' | translate}}
      </ion-button>
      <ion-button fill="outline" color="danger" href="tel:{{sos}}" *ngIf="tripStatus == 'going'">{{'SOS' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height:100%"></div>
</ion-content>
<ion-footer>


  <div style="text-align:right; color: #222">
    <span style="background:#ffff00">{{ 'OTP' | translate}}: {{ (trip)?.otp }}</span>
  </div>
  <ion-item>
    <ion-avatar slot="start">
      <img src="{{ (driver)?.photoURL }}" onError="this.src='assets/img/default-dp.png'" />
    </ion-avatar>
    <ion-label>
      <ion-text>
        <ion-badge color="primary" *ngIf="tripStatus == 'accepted'">Accepted</ion-badge>
        <ion-badge color="secondary" *ngIf="tripStatus == 'going'">Going</ion-badge>
        <ion-badge color="success" *ngIf="tripStatus == 'finished'">Completed</ion-badge>
        <ion-badge color="danger" *ngIf="tripStatus == 'canceled'">Canceled</ion-badge>
        <ion-badge color="light" *ngIf="tripStatus == 'pending'">Pending</ion-badge>
        <ion-badge color="medium" *ngIf="tripStatus == 'waiting'">Waiting</ion-badge>
      </ion-text>
      <ion-text>
        <h2>{{ (driver)?.first_name }} {{ (driver)?.last_name }} <ion-icon name="md-star" color="yellow"></ion-icon>
        </h2>
      </ion-text>
      <ion-text>
        <p>{{ (driver)?.plate }} &middot; {{ (driver)?.brand }}</p>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-button href="tel: {{ (driver)?.phoneNumber }} ">
      <ion-icon name="call"></ion-icon>&nbsp;{{'CALL' | translate}}
    </ion-button>
    <ion-button color="dark" slot="end"  (click)="showChat()">
      <ion-icon name="chatbubbles"></ion-icon>&nbsp;Message
    </ion-button>
  </ion-item>
  <!--<ion-button color="dark" expand="block" (click)="showRateCard()">{{'SHOW_RATE_CARD' | translate}}-->
  <!--</ion-button>-->
</ion-footer>