<ion-header>
    <ion-navbar>
        <ion-list no-lines>
            <ion-item>
                <p item-start class="active" text-start>{{'offline' | translate}}</p>
                <ion-toggle [(ngModel)]="checked" (ionChange)="onlineOfflineToggle()" checked="false"></ion-toggle>
                <p item-end class="disabled" text-end> {{'online ' | translate}}</p>
            </ion-item>
        </ion-list>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map" class="mymap"></div>
    <!-- <p (click)="locationPage()" class="btn bg-green text-white" text-center padding>Accept rider</p> -->
</ion-content>
<ion-footer no-border>
    <ion-card *ngIf="!checked" class="summery shadow-black ">
        <ion-card-header>
            <h2>{{'today_summery' | translate}}</h2>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col col-6>
                    <h4>{{'total_trips_today' | translate}}</h4>
                    <h2 class="d-flex">
                        <ion-icon class="material-icons">directions_car</ion-icon>
                        9 Trips
                    </h2>
                </ion-col>
                <ion-col col-6>
                    <h4>{{'today_earning' | translate}}</h4>
                    <h2 class="d-flex">
                        <ion-icon class="material-icons">account_balance_wallet</ion-icon>
                        140.20 $
                    </h2>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card class="passanger_info" *ngIf="checked">
        <ion-card-header>
            <h2 class="d-flex">{{'passanger_info' | translate}} <span class="end" (click)="declinePage()">{{'decline' | translate}}</span></h2>
        </ion-card-header>
        <ion-card-content>
            <div class="passanger-info d-flex">
                <div class="passanger_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="passanger_details">
                    <h2>
                        Sam Smith
                    </h2>
                    <p class="text-black d-flex">
                        <small>4.7</small>
                        <span class="rateing  d-flex">
                            <ion-icon class="active" name="ios-star"></ion-icon>
                            <ion-icon class="active" name="ios-star"></ion-icon>
                            <ion-icon class="active" name="ios-star"></ion-icon>
                            <ion-icon class="active" name="ios-star"></ion-icon>
                            <ion-icon class="" name="ios-star"></ion-icon>
                        </span>
                    </p>
                </div>
            </div>
            <ion-row>
                <ion-col col-6>
                    <h4>{{'pick_up_from' | translate}}</h4>
                    <h2>Summit Avenue</h2>
                </ion-col>
                <ion-col col-6>
                    <h4>{{'how_far' | translate}}</h4>
                    <h2> 0.5 km away</h2>
                </ion-col>
            </ion-row>
            <button ion-button block class="btn" (click)="accept()">{{'accept' | translate}}</button>
        </ion-card-content>
    </ion-card>
</ion-footer>
