<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-input [(ngModel)]="autocomplete.input"
           (keyup)="updateSearchResults()"
           placeholder="Search for a place"
           clearInput
               class="search_input_box"> </ion-input>
    <ion-buttons slot="start">

    </ion-buttons>
<!--    <ion-searchbar -->
<!--      [(ngModel)]="autocomplete.input" -->
<!--      (keydown)="updateSearchResults()"-->
<!--      placeholder="Search for a place" -->
<!--    >-->
<!--    </ion-searchbar>-->
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-header>


<ion-content>
  <div #map id="map"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="selectCurrentLocation()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-button expand="block" color="dark" (click)="setLocation()">Set Location</ion-button>
