page-addmoney {
    .banner {
        padding-top: 50px;
        padding-bottom: 20px;

        h4 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 1px;
            color: lighten($gray, 10%);
        }

        h1 {
            margin: 0;
            font-size: 2.8rem;
            font-weight: 700;
            letter-spacing: 2px;
            padding-top: 6px;
            padding-bottom: 10px;
        }

        .row {
            margin: 0 auto;
            width: calc(100% - 50px);
            padding-top: 15px;
            padding-bottom: 15px;

            .col {
                padding: 0 10px;
            }

            .button.btn {
                border: 1px solid $white;
                font-weight: 700;
                font-size: 1.3rem;
                font-size: 1.2rem;
                height: 38px;

                &.add_money_btn {
                    background: $white;
                    color: $theme-color;

                }
            }
        }
    }

    .list {
        padding-top: 30px;
        margin: 0 auto;
        width: calc(100% - 60px);

        h2 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 500;
            padding-bottom: 15px;
        }

        .form_container {
            border-radius: 6px;
            overflow: hidden;
        }

    }

    .footer {
        padding-bottom: 20px;

        .button.btn {
            margin: 0 auto;
            width: calc(100% - 60px);
        }
    }
}
