/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.login-header{
    text-align: center;
    padding: 3rem;
    background: none;
}
.login-header h2{
    color: #000000;
}
//.login-header img{
//    height: 160px;
//    width: 160px;
//}
ion-button{
    --box-shadow:none;
}

ion-input, ion-textarea, ion-select{
    background: #eee !important;
    margin-top: 1rem !important;
    border: 1px solid #ddd !important;
}

ion-item {
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: transparent;
}

.native-input.sc-ion-input-md{
    padding: 0.5rem !important;
    color: #555;
}

.sidebar-header{
    background: #00acac;
    height: 150px;
    padding: 2rem;
    color: #fff;
}
#docsPDF, #avatar{
    display:none;
}
.widhdraw-header{
    text-align: center;
    min-height: 200px;
    background: #333;
    color:#fff;
    margin-top: -20px;
    padding-top: 30px
}

ion-button{
    --box-shadow:none;
}

ion-input, ion-textarea, ion-select{
    background: #eee !important;
    margin-top: 1rem !important;
    border: 1px solid #ddd !important;
}

ion-title {
    font-size: .8em;
}


.wallet {

    .top-balance {
        padding: 30px 10px 10px;

        button.button-block {
            margin-top: 30px;
        }
    }
    ion-note, .note-md{
        background: #00acac;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
    }
    code{
        background: #8BC34A;
        padding: 0px 5px;
        color: #fff;
    }
}