<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <%= link_to 'New Drivers', new_driver_path, :class => 'btn btn-light btn-xs' %>
    </div>
    <h4 class="panel-title lp-header">Users</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">
      <thead>
      <tr class="odd gradeX">
        <th>Name</th>
        <th>Type</th>
        <th>Email</th>
        <th>Phone #</th>
        <th>Can Ride?</th>
        <th>Promo Quota</th>
        <th>Quota Amount</th>
        <th data-orderable="false">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td><%= driver["first_name"] %> <%= driver["last_name"] %></td>
          <td><%= driver["driver_type"] %></td>
          <td><%= driver["email"] %></td>
          <td><%= driver["phoneNumber"] %></td>
          <td><%= driver["canRide"] ? "<i class='fas fa-check fa-2x text-success'></i>".html_safe : "<i class='fas fa-times fa-2x text-danger'></i>".html_safe %></td>
          <td><%= driver["is_promo_quota"] ? "<i class='fas fa-check fa-2x text-success'></i>".html_safe : "<i class='fas fa-times fa-2x text-danger'></i>".html_safe %></td>
          <td><%= driver["promo_quota_amount"] %></td>
          <td>
            <a class="btn btn-warning btn-xs" href="/drivers/<%= driver["uid"] %>"><i class="far fa-eye"></i></a>
            <a class="btn btn-purple btn-xs" href="/drivers/<%= driver["uid"] %>/edit"><i class="far fa-edit"></i></a>
            <a data-confirm="Are you sure?" class="btn btn-danger btn-xs" rel="nofollow" data-method="delete" href="/drivers/<%= driver["uid"] %>"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
