<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Users' : "Edit User - #{driver.first_name} #{driver.last_name}" %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title lp-header"><%= params[:action] == 'new' ? 'Create New Users' : "Edit User - #{driver.first_name} #{driver.last_name}" %></h4>
  </div>
  <div class="panel-body">
    <%= form_with(url: "/drivers", local: true, :html => {id: 'new_driver', class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
      <%= form.hidden_field :uid %>

      <h5>Information</h5>
      <div class="form-group row m-b-15">
        <%= form.label :first_name, 'First Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :first_name, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :middle_name, 'Middle Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :middle_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :last_name, 'Last Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :last_name, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :phone_number, 'Phone Number:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :phone_number, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :address, 'Address:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :address, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :gender, 'Gender:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :gender, options_for_select([['Female', 'female'], ['Male', 'male']]), {:prompt => 'Select Gender'}, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :driver_type, 'Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :driver_type, options_for_select(['Subscriber', 'Credit']), {:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :birth_date, 'Birth Date:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.date_field :birth_date, :class => 'form-control form-control-lg', placeholder: 'Birth Date', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :phone_number, 'Phone Number:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :phone_number, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :balance, 'Balance:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.number_field :balance, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :email, 'E-mail:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.email_field :email, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :password, 'Password:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.password_field :password, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :password_confirmation, 'Confirm Password:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.password_field :password_confirmation, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label">Approved?</label>
        <div class="col-md-9 col-sm-8">
          <input type="checkbox" name="can_ride" data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)" />
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label">Promo Quota?</label>
        <div class="col-md-9 col-sm-8">
          <input type="checkbox" name="is_promo_quota" data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)" />
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :promo_quota_amount, 'Quota Amount:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.number_field :promo_quota_amount, class: 'form-control' %>
        </div>
      </div>
      <h5>Emergency Contact Person</h5>
      <div class="form-group row m-b-15">
        <%= form.label :ecp_first_name, 'First Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :ecp_first_name, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :ecp_middle_name, 'Middle Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :ecp_middle_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :ecp_last_name, 'Last Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :ecp_last_name, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :ecp_phone_number, 'Phone Number:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :ecp_phone_number, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :ecp_relationship, 'Relationship:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :ecp_relationship, options_for_select(['Spouse', 'Brother', 'Sister', 'Mother', 'Father', 'Son', 'Daughter']), {:prompt => 'Select Relationship'}, class: 'form-control', required: true %>
        </div>
      </div>
      <h5>Vehicle Information</h5>
      <div class="form-group row m-b-15">
        <%= form.label :brand, 'Brand:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :brand, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :model, 'Model:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :model, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :plate, 'Plate:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :plate, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :type, 'Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :type, options_for_select([['Motor', 'motor'], ['MPV', 'mpv']]), {:prompt => 'Select Type'}, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-0">
        <label class="text-right col-md-2 col-sm-4 col-form-label">&nbsp;</label>
        <div class="col-md-9 col-sm-8">
          <a href="javascript:void(0)" class="btn btn-primary" id="new_driver_btn">Submit</a>
          &nbsp;&nbsp;<%= link_to 'Back', drivers_path, :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- end panel -->
