<div class="header-violet">
  <h1 class="pull-left">
    <%= @driver["first_name"] %> <%= @driver["last_name"] %>
  </h1>
  <span class="pull-right">
    <div class="panel-heading-btn">
      <a data-confirm="Do you really want to APPROVED this driver?" class="btn btn-primary btn-xs" href="/drivers/approved?uid=<%= @driver["uid"] %>"><i class="fas fa-thumbs-up"></i></a>
      <a data-confirm="Are you sure to DECLINED this driver?" class="btn btn-danger btn-xs" href="/drivers/declined?uid=<%= @driver["uid"] %>"><i class="fas fa-thumbs-down"></i></a>
    </div>
  </span>
</div>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
   <div class="panel-heading">
  </div>
  <div class="panel-body">
    <h5 class="text-inverse">Details</h5>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">First Name:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["first_name"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Middle Name</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["middle_name"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Last Name</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["last_name"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">E-mail:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["email"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Address:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["present_address"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Gender:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["gender"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Birth Date:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["birth_date"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Phone #:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["phoneNumber"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Type:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["driver_type"] %>
      </div>
    </div>
    <hr/>
    <h5 class="text-inverse">Emergency Contact Person</h5>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">First Name:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["ecp_first_name"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Middle Name</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["ecp_middle_name"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Last Name</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["ecp_last_name"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Phone #</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["ecp_phone_number"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Relationship</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["ecp_relationship"] %>
      </div>
    </div>
    <hr/>
    <h5 class="text-inverse">Vehicle Information</h5>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Brand:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["brand"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Model</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["model"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Plate #</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["plate"] %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Type</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @driver["type"] %>
      </div>
    </div>
    <hr/>
    <h5 class="text-inverse">Document Uploads</h5>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">NBI:</label>
      <div class="col-md-9 lbl-padding-t">
        <img src="<%= @driver["nbiUrl"] %>" onError="this.src='https://via.placeholder.com/150'"/>
      </div>
    </div>
    <br/>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Driver's License</label>
      <div class="col-md-9 lbl-padding-t">
        <img src="<%= @driver["licenseFrontUrl"] %>" onError="this.src='https://via.placeholder.com/150'"/>
        &nbsp;
        &nbsp;
        &nbsp;
        <img src="<%= @driver["licenseBackUrl"] %>" onError="this.src='https://via.placeholder.com/150'"/>
      </div>
    </div>
    <br/>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Previous ID</label>
      <div class="col-md-9 lbl-padding-t">
        <img src="<%= @driver["previousIdUrl"] %>" onError="this.src='https://via.placeholder.com/150'">
      </div>
    </div>
    <br/>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">ORCR</label>
      <div class="col-md-9 lbl-padding-t">
        <img src="<%= @driver["orcrUrl"] %>" onError="this.src='https://via.placeholder.com/150'">
      </div>
    </div>
  </div>
</div>
