
  Please wait, We are verifying your account.
  <br/>
  <h4>Account Information</h4>
  <br/>
  <b>Name: </b> <%= @name %>
  <br/>
  <b>Reference Number: </b> <%= @uid %>
  <br/>
  <br/>
  <a href="#">Download the eShip App now!</a>
