page-verification {
    img {
        display: block;

        &.logo {
            margin: 0 auto;
            width: 150px;
            margin-bottom: 0px;
            margin-top: 29px;
        }
    }

    .active-stage {
        width: 135px;
        margin: auto;
        position: relative;

        span {
            width: 17px;
            display: block;
            background: $white;
            margin: auto;

            strong {
                margin: auto;
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: $bg-color;
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: calc(100% - 71px);
            left: 0;
            right: 0;
            margin: auto;
            height: .8px;
            background: $bg-color;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: -1;
        }

        .row {
            .col {
                &.active {
                    span strong {
                        background: $theme-color;
                    }
                }
            }
        }
    }

    .form .item .item-inner ion-input .text-input {
        font-size: 1.6rem;
        letter-spacing: 2.6px;
        text-align: center !important;
    }

    p {
        font-size: 1.3rem;
        font-weight: 500;

    }
}
