<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="locationinput-holder">
    <input class="locationinput" (click)="chooseOrigin(origin ? origin.vicinity : '')" placeholder="Where do you want to pickup?" type="text"
      value="{{origin ? origin.vicinity : '' }}">
    <input class="locationinput" (click)="chooseDestination(destination ? destination.vicinity : '')" placeholder="Where do you want to drop?" type="text"
      value="{{ destination ? destination.vicinity : '' }}">
  </div>

  <div id="{{ mapId }}" [ngStyle]="{height: '100%'}"></div>

  <div class="align-bottom">

    <p class="distanceText">
      <span *ngIf="distanceText!=''">Distance: {{ distanceText }}</span>
      <span *ngIf="durationText!=''">&nbsp; Duration: {{durationText}}</span>
    </p>
    <!--<ion-row [hidden]="!destination">-->
      <!--<ion-col (click)="choosePaymentMethod1()">-->
        <!--<ion-icon name="card" color="gray"></ion-icon>-->
        <!--<span ion-text color="gray">{{ getPaymentMethod() }}</span>-->
      <!--</ion-col>-->
      <!--<ion-col (click)="showPromoPopup()" *ngIf="destination">-->
        <!--<ion-icon name="create" color="gray"></ion-icon>-->
        <!--<span ion-text color="gray">{{'PROMO' | translate}}</span>-->
      <!--</ion-col>-->
      <!--<ion-col (click)="showNotePopup()">-->
        <!--<ion-icon name="create" color="gray"></ion-icon>-->
        <!--<span ion-text color="gray">{{'NOTE' | translate}}</span>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <ion-row [hidden]="!destination || locateDriver">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-input type="text" [(ngModel)]="locationDetails" placeholder="Location Details" (click)="editLocationDetails()" class="form-information-inputs" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="recipientName"  placeholder="Recipient Name" (click)="editRecipientName()" class="form-information-inputs" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="mobileNumber"  placeholder="Mobile Number" (click)="editMobileNumber()" class="form-information-inputs" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="itemCategory"  placeholder="Type of Item" (click)="editItemCategory()" class="form-information-inputs" readonly></ion-input>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row [hidden]="!destination">

      <ion-col *ngFor="let vehicle of vehicles; let i = index" [ngClass]="{'active': vehicle.active}"
        (click)="locateDriver ? $event.stopPropagation() : chooseVehicle(i)">
        <img src="{{ vehicle.icon }}">
        <p>{{ vehicle.name }}</p>
        <p>{{currency }}{{ vehicle.fee }}</p>
      </ion-col>

    </ion-row>


    <ion-button expand="block" color="dark" [hidden]="!destination" (click)="book()">
      {{ locateDriver == false ? 'BOOK NOW':'Locating Drivers'}} <ion-spinner name="dots" color="light"
        [hidden]="!locateDriver"></ion-spinner>
    </ion-button>
    <ion-button expand="block" color="danger" [hidden]="!locateDriver" (click)="cancelBook()">
      Cancel Book
    </ion-button>
  </div>
</ion-content>
