.locationinput-holder{
  padding: 0.2rem 1rem;
  position: absolute;
  background: transparent;
  z-index: 999999;
  top:0;
  width:100%;
}
.locationinput{
  background: #fff;
  border:1px solid #ccc;
  outline:0;
  width: 100%;
  padding: 0.5rem;
  color: #333;
  margin: 2px 0px;
  font-size: 14px;
  border-radius: 4px;
}

.distanceText{
  font-size: 14px;
  color: #555;
  margin: 0;
}
.align-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
}

.align-bottom p{
  font-size: 14p
}
.header-md:after{
  background-image: none;
}
ion-col{
  text-align: center
}
ion-col img{
  width: 40px;
  padding: 5px;
  border-radius: 100%;
}
ion-col p { margin: 0}
ion-row{
  background: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
}
.list-md {
  margin: -1px 0 0px;
}
.label-md{
  margin: 13px -50px 13px 0;
}
.text-input-md{
  font-size: 14px;
  margin: 8px 5px;
}
#map {
  width: 100%;
}

.active img{
  background: #ffce00;
}
ion-list {
  width: 100%;
}

ion-input {
  width: 100%;
}

.form-information-inputs {
  background: transparent !important;
  border: none !important;
}