<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header class="test">
        <ion-toolbar class="test"></ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle>
            <ion-item routerLink="/rider/profile">
              <ion-avatar slot="start">

                <img src="./assets/img/default-dp.png" />
                <!--<img src="{{user.photoURL}}" />-->
              </ion-avatar>
              <ion-label>
                <ion-text>
                  <h2>{{current_user_name()}}</h2>
                </ion-text>
                <ion-text>
                  <p>{{current_user_email()}}</p>
                </ion-text>
                <ion-text class="user_type_label">
                  <p >{{current_user_type()}}</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
          <ion-list lines="none" *ngIf="!isRider() && !isDriver()">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list lines="none" *ngIf="isRider()" >
            <ion-menu-toggle auto-hide="false" *ngFor="let p of riderPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list lines="none" *ngIf="isDriver()">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of driverPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>