<ion-content padding>
  <form #form="ngForm" (ngSubmit)="send_instructions(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-justify-content-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <img src="/assets/logo.png" class="logo"/>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input name="email" type="email" placeholder="Email Address" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button color="primary" size="large" type="submit" [disabled]="form.invalid" expand="block">Send me reset password instructions</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center link-descriptions" >
        <a routerLink='/login'>Back</a>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
