<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title lp-header">Pending Applications</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">
      <thead>
      <tr class="odd gradeX">
        <th>Name</th>
        <th>Driver Type</th>
        <th>Email</th>
        <th>Phone #</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Birth Date</th>
        <th>Plate #</th>
        <th>Vehicle Type</th>
        <th data-orderable="false">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td><%= driver["first_name"] %> <%= driver["last_name"] %></td>
          <td><%= driver["driver_type"] %></td>
          <td><%= driver["email"] %></td>
          <td><%= driver["phoneNumber"] %></td>
          <td><%= driver["gender"] %></td>
          <td><%= driver["address"] %></td>
          <td><%= driver["birth_date"] %></td>
          <td><%= driver["plate"] %></td>
          <td><%= driver["type"] %></td>
          <td>
            <a class="btn btn-warning btn-xs" href="/drivers/<%= driver["uid"] %>/edit"><i class="far fa-edit"></i></a>
            <a class="btn btn-purple btn-xs" href="/drivers/<%= driver["uid"] %>"><i class="far fa-eye"></i></a>
            <a data-confirm="Do you really want to APPROVED this driver?" class="btn btn-primary btn-xs" href="/static_pages/approved?uid=<%= driver["uid"] %>"><i class="fas fa-thumbs-up"></i></a>
            <a data-confirm="Are you sure to DECLINED this driver?" class="btn btn-danger btn-xs" href="/static_pages/declined?uid=<%= driver["uid"] %>"><i class="fas fa-thumbs-down"></i></a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
