
  <!-- begin breadcrumb -->
  <ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Map</a></li>
    <li class="breadcrumb-item active">Google Map</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header text-white">Google Map <small class="text-white-transparent-5">header small text goes here...</small></h1>
  <!-- end page-header -->
  <div class="map">
    <div id="google-map-default" class="height-full width-full"></div>
  </div>
