<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Users' : "Edit User - #{@price.first_name} #{@price.last_name}" %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title lp-header">Settings</h4>
  </div>
  <div class="panel-body">
    <%= form_with(url: ((params[:action] == 'new' || params[:action] == 'create') ? "/settings/create" : "/settings/#{@price.id}"),model: user, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
      <% if @price.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@price.errors.count, "error") %> prohibited this client from being saved:</h2>
          <ul>
            <% @price.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group row m-b-15">
        <%= form.label :currency, 'Currency:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :currency, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row m-b-0">
        <label class="text-right col-md-2 col-sm-4 col-form-label">&nbsp;</label>
        <div class="col-md-9 col-sm-8">
          <%= form.submit 'Save', :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <%= render 'vehicles/table', vehicles: @vehicles %>

  </div>
</div>
<!-- end panel -->
