<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Users' : "Edit User - #{vehicle.first_name} #{vehicle.last_name}" %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title lp-header">Settings</h4>
  </div>
  <div class="panel-body">
    <%= form_with(url: ((params[:action] == 'new' || params[:action] == 'create') ? "/vehicles/create" : "/vehicles/#{vehicle.id}"),model: vehicle, local: true, :html => {class: 'form-horizontal'}) do |form| %>
      <% if vehicle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this client from being saved:</h2>
          <ul>
            <% vehicle.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group row m-b-15">
        <%= form.label :enable, 'Enable:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.check_box :enable, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: vehicle.enable %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :active, 'Active:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.check_box :active, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: vehicle.active %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :icon, 'Icon:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :icon, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :map_icon, 'Map Icon:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :map_icon, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :name, 'Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :vehicle_type, 'Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :vehicle_type, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :fee, 'Fee:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.number_field :fee, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :price, 'Per KM:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :price, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row m-b-0">
        <label class="text-right col-md-2 col-sm-4 col-form-label">&nbsp;</label>
        <div class="col-md-9 col-sm-8">
          <%= form.submit 'Save', :class => 'btn btn-primary' %>
          &nbsp;&nbsp;<%= link_to 'Back', settings_path, :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
<!-- end panel -->
