

<table id="table_id" class="table table-bordered display">
  <thead>
  <tr>
    <th>Enabled</th>
    <th>Name</th>
    <th>Type</th>
    <th>Price</th>
    <th>First Fee</th>
    <th>Second Fee</th>
    <th>Third Fee</th>
    <th>Fourth Fee</th>
<!--    <th></th>-->
  </tr>
  </thead>
  <tbody>
    <% vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle["enable"] ? "<i class='fas fa-check fa-2x text-success'></i>".html_safe : "<i class='fas fa-times fa-2x text-danger'></i>".html_safe %></td>
      <td><%= vehicle["name"] %></td>
      <td><%= vehicle["type"] %></td>
      <td><%= vehicle["price"] %></td>
      <td><%= vehicle["first_fee"] %></td>
      <td><%= vehicle["second_fee"] %></td>
      <td><%= vehicle["third_fee"] %></td>
      <td><%= vehicle["fourth_fee"] %></td>
<!--      <td>-->
<!--          <a class="btn btn-warning btn-xs" href="/vehicles/<%#= vehicle.id %>/edit"><i class="far fa-edit"></i></a>-->
<!--          <a data-confirm="Are you sure?" class="btn btn-danger btn-xs" rel="nofollow" data-method="delete" href="/vehicles/<%#= vehicle.id %>"><i class="fas fa-trash-alt"></i></a>-->
<!--      </td>-->

    </tr>
    <% end %>

  </tbody>
</table>
<%= link_to 'New Vehicle', new_vehicle_path, :class => 'btn btn-light' %>
<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>