<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding color="primary">
  <form #form="ngForm" (ngSubmit)="updateProfile(form)">
    <div *ngIf="user != undefined">
        <ion-list>
            <ion-item>
              <ion-label>First Name:</ion-label>
              <ion-input name="first_name" type="text" class="ion-text-right" ngModel="{{ user['first_name'] }}" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Last Name: </ion-label>
              <ion-input name="last_name" type="text" class="ion-text-right" ngModel="{{ user['last_name'] }}" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>City: </ion-label>
              <ion-input name="city" type="text" class="ion-text-right" ngModel="{{ user['city'] }}" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Phone Number: </ion-label>
              <ion-input name="phone_number" type="text" class="ion-text-right" ngModel="{{ user['phone_number'] }}" required></ion-input>
            </ion-item>
        </ion-list>
        <div class="ion-padding">
          <ion-button size="large" type="submit" expand="block">Update</ion-button>
        </div>
    </div>
  </form>
</ion-content>