<ion-header>
    <ion-navbar>
        <ion-list no-lines>
            <ion-item>
                <p item-start class="active" text-start>{{'offline' | translate}}</p>
                <ion-toggle checked="false"></ion-toggle>
                <p item-end class="disabled" text-end> {{'online ' | translate}}</p>
            </ion-item>
        </ion-list>
    </ion-navbar>
</ion-header>


<ion-content class="bg-light">
    <div class="container">
        <ion-scroll scrollX="true">
            <ion-segment [(ngModel)]="all_week">
                <ion-segment-button value="week1">
                    Mar 30 - Apr 5
                </ion-segment-button>
                <ion-segment-button value="week2">
                    Mar 30 - Apr 5
                </ion-segment-button>
                <ion-segment-button value="week3">
                    Mar 30 - Apr 5
                </ion-segment-button>
                <ion-segment-button value="week4">
                    Mar 30 - Apr 5
                </ion-segment-button>
                <ion-segment-button value="week5">
                    Mar 30 - Apr 5
                </ion-segment-button>
                <ion-segment-button value="week6">
                    Mar 30 - Apr 5
                </ion-segment-button>
            </ion-segment>
        </ion-scroll>

        <div class="" [ngSwitch]="all_week">
            <div class="graph_container d-flex" *ngSwitchCase="'week6'">
                <div class="graph_number">
                    <p>200</p>
                    <p>150</p>
                    <p>100</p>
                    <p>50</p>
                </div>
                <div class="graph_box d-flex">
                    <div class="graph">
                        <div class="bar" style="height: 50%"></div>
                        <p text-center>M</p>
                        <h2 text-center>$60</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 60%"></div>
                        <p text-center>TU</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 40%"></div>
                        <p text-center>W</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 30%"></div>
                        <p text-center>TH</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph active">
                        <div class="bar" style="height: 80%"></div>
                        <p text-center>F</p>
                        <h2 text-center>$180</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height:0%"></div>
                        <p text-center>Sa</p>
                        <h2 text-center>0</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 0%"></div>
                        <p text-center>SU</p>
                        <h2 text-center>0</h2>
                    </div>
                </div>
            </div>
            <div class="graph_container d-flex" *ngSwitchCase="'week5'">
                <div class="graph_number">
                    <p>200</p>
                    <p>150</p>
                    <p>100</p>
                    <p>50</p>
                </div>
                <div class="graph_box d-flex">
                    <div class="graph">
                        <div class="bar" style="height: 50%"></div>
                        <p text-center>M</p>
                        <h2 text-center>$60</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 60%"></div>
                        <p text-center>TU</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 40%"></div>
                        <p text-center>W</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 30%"></div>
                        <p text-center>TH</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph ">
                        <div class="bar" style="height: 40%"></div>
                        <p text-center>F</p>
                        <h2 text-center>$180</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height:0%"></div>
                        <p text-center>Sa</p>
                        <h2 text-center>0</h2>
                    </div>
                    <div class="graph active">
                        <div class="bar" style="height: 1000%"></div>
                        <p text-center>SU</p>
                        <h2 text-center>$200</h2>
                    </div>
                </div>
            </div>
            <div class="graph_container d-flex" *ngSwitchCase="'week4'">
                <div class="graph_number">
                    <p>200</p>
                    <p>150</p>
                    <p>100</p>
                    <p>50</p>
                </div>
                <div class="graph_box d-flex">
                    <div class="graph">
                        <div class="bar" style="height: 50%"></div>
                        <p text-center>M</p>
                        <h2 text-center>$60</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 60%"></div>
                        <p text-center>TU</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 40%"></div>
                        <p text-center>W</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 30%"></div>
                        <p text-center>TH</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 80%"></div>
                        <p text-center>F</p>
                        <h2 text-center>$180</h2>
                    </div>
                    <div class="graph active">
                        <div class="bar" style="height:100%"></div>
                        <p text-center>Sa</p>
                        <h2 text-center>$200</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 5%"></div>
                        <p text-center>SU</p>
                        <h2 text-center>0</h2>
                    </div>
                </div>
            </div>
            <div class="graph_container d-flex" *ngSwitchCase="'week3'">
                <div class="graph_number">
                    <p>200</p>
                    <p>150</p>
                    <p>100</p>
                    <p>50</p>
                </div>
                <div class="graph_box d-flex">
                    <div class="graph">
                        <div class="bar" style="height: 50%"></div>
                        <p text-center>M</p>
                        <h2 text-center>$60</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 60%"></div>
                        <p text-center>TU</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 40%"></div>
                        <p text-center>W</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 10%"></div>
                        <p text-center>TH</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 0%"></div>
                        <p text-center>F</p>
                        <h2 text-center>$180</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height:0%"></div>
                        <p text-center>Sa</p>
                        <h2 text-center>0</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 0%"></div>
                        <p text-center>SU</p>
                        <h2 text-center>0</h2>
                    </div>
                </div>
            </div>
            <div class="graph_container d-flex" *ngSwitchCase="'week2'">
                <div class="graph_number">
                    <p>200</p>
                    <p>150</p>
                    <p>100</p>
                    <p>50</p>
                </div>
                <div class="graph_box d-flex">
                    <div class="graph active">
                        <div class="bar" style="height: 50%"></div>
                        <p text-center>M</p>
                        <h2 text-center>$50</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 0%"></div>
                        <p text-center>TU</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 0%"></div>
                        <p text-center>W</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 0%"></div>
                        <p text-center>TH</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph ">
                        <div class="bar" style="height: 0%"></div>
                        <p text-center>F</p>
                        <h2 text-center>$180</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height:0%"></div>
                        <p text-center>Sa</p>
                        <h2 text-center>0</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 0%"></div>
                        <p text-center>SU</p>
                        <h2 text-center>0</h2>
                    </div>
                </div>
            </div>
            <div class="graph_container d-flex" *ngSwitchCase="'week1'">
                <div class="graph_number">
                    <p>200</p>
                    <p>150</p>
                    <p>100</p>
                    <p>50</p>
                </div>
                <div class="graph_box d-flex">
                    <div class="graph">
                        <div class="bar" style="height: 50%"></div>
                        <p text-center>M</p>
                        <h2 text-center>$60</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 60%"></div>
                        <p text-center>TU</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 40%"></div>
                        <p text-center>W</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 30%"></div>
                        <p text-center>TH</p>
                        <h2 text-center>$70</h2>
                    </div>
                    <div class="graph active">
                        <div class="bar" style="height: 80%"></div>
                        <p text-center>F</p>
                        <h2 text-center>$180</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height:0%"></div>
                        <p text-center>Sa</p>
                        <h2 text-center>0</h2>
                    </div>
                    <div class="graph">
                        <div class="bar" style="height: 0%"></div>
                        <p text-center>SU</p>
                        <h2 text-center>0</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ion-card class="summery">
        <ion-card-header>
            <h2>{{'earning_summary' | translate}}</h2>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col col-4>
                    <h4>{{'total_earnings' | translate}}</h4>
                    <h2 class="d-flex">
                        <ion-icon class="material-icons">account_balance_wallet</ion-icon>
                        $ 351
                    </h2>
                </ion-col>
                <ion-col col-4>
                    <h4>{{'in_cash' | translate}}</h4>
                    <h2 class="d-flex">
                        <ion-icon class="material-icons">account_balance_wallet</ion-icon>
                        $ 125
                    </h2>
                </ion-col>
                <ion-col col-4>
                    <button ion-button icon-end block class="btn" (click)="wallet()">{{'wallet' | translate}}
                        <ion-icon class="material-icons">keyboard_arrow_right</ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
