<ion-content >
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-justify-content-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <img src="/assets/logo.png" class="logo"/>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input  name="first_name" type="text" placeholder="First" ngModel required></ion-input>
              <ion-input  name="last_name" type="text" placeholder="Last" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="city" type="text" placeholder="City" ngModel required></ion-input>
              <ion-input  name="phone_number" type="text" placeholder="Phone Number" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Email Address" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password_confirmation" type="password" placeholder="Confirm Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button color="primary" size="large" type="submit" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center link-descriptions">
        Already have an account, Sign&nbsp;<a routerLink='/login'>
          here</a>!
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
