<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'BASIC_PROFILE' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center">
    <img src="{{ user.photoURL }}" onError="this.src='assets/img/default-dp.png'" style="width:50px;height:50px;border-radius:100px" (click)="chooseFile()">
    <form ngNoForm>
      <input id="avatar" name="file" type="file" (change)="upload()">
    </form>
    <h3>{{user.first_name}} {{user.last_name}}</h3>
  </div>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked" color="primary">{{'FIRST_NAME' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'MIDDLE_NAME' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.middle_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'LAST_NAME' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'BIRTH_DATE' | translate}}</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="user.birth_date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'GENDER' | translate}}</ion-label>
      <ion-select placeholder=" Select gender" [(ngModel)]="user.gender">
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="male">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'ADDRESS' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'PHONE_NUMBER' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.phoneNumber" [disabled]="user.isPhoneVerified"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'EMAIL_ADDRESS' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" disabled></ion-input>
      <ion-button *ngIf="!user.isEmailVerified" (click)="verifyEmail()">
        {{'VERIFY' | translate}}</ion-button>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button color="dark" expand="block" (click)="save()">{{'SAVE' | translate}}</ion-button>
  </div>

</ion-content>