<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'BASIC_PROFILE' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center">
    <img src="./assets/img/default-dp.png" style="width:50px;height:50px;border-radius:100px" (click)="chooseFile()" />
    <!--<img src="{{ user.photoURL }}" style="width:50px;height:50px;border-radius:100px" (click)="chooseFile()">-->
    <form ngNoForm>
      <input id="avatar" name="file" type="file" (change)="upload()">
    </form>
    <h3>{{user.first_name}} {{user.last_name}}</h3>
  </div>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked" color="primary">{{'FIRSTNAME' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'LASTNAME' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'PHONE_NUMBER' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.phone_number" [disabled]="user.isPhoneVerified"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">{{'EMAIL_ADDRESS' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" disabled></ion-input>
      <ion-button *ngIf="!user.isEmailVerified" (click)="verifyEmail()">
        {{'VERIFY' | translate}}</ion-button>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button color="dark" expand="block" (click)="save()">{{'SAVE' | translate}}</ion-button>
  </div>

</ion-content>