<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'sign_up' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
    <form #form="ngForm" (ngSubmit)="register(form)">
        <img src="assets/imgs/logo.png" class="logo">
        <div class="active-stage" padding>
            <ion-row text-center>
                <ion-col class="active"><span><strong></strong></span></ion-col>
                <ion-col><span><strong></strong></span></ion-col>
            </ion-row>
        </div>
        <div padding-left padding-right>
            <ion-row class="name_camra">
                <ion-col col-4 text-center>
                    <div class="bg-light form camra">
                        <ion-icon name="camera"></ion-icon>
                    </div>
                </ion-col>
                <ion-col col-8>
                    <ion-list class="form">
                        <ion-item class="bg-light">
                            <ion-label>{{'first_name' | translate}}</ion-label>
                            <ion-input  name="first_name" type="text" placeholder="First" ngModel required text-right></ion-input>
                        </ion-item>
                        <ion-item class="bg-light">
                            <ion-label>{{'last_name' | translate}}</ion-label>
                            <ion-input  name="last_name" type="text" placeholder="Last" ngModel required text-right></ion-input>
                        </ion-item>

                        <ion-item  class="bg-light">
                            <ion-label>Gender</ion-label>
                            <ion-select name="gender" ngModel text-right>
                                <ion-option value="female">Female</ion-option>
                                <ion-option value="male">Male</ion-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="bg-light">
                            <ion-label>{{'phone_number' | translate}}</ion-label>
                            <ion-input  name="phone_number" type="text" placeholder="+639xxxxxxxx" ngModel required text-right></ion-input>
                        </ion-item>
                        <ion-item class="bg-light">
                            <ion-label>City</ion-label>
                            <ion-input  name="city" type="text" placeholder="City" ngModel required text-right></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>

            </ion-row>
            <ion-list class="form">
                <ion-item class="bg-light">
                    <ion-label>Email Address</ion-label>
                    <ion-input name="email" type="email" placeholder="Email Address" ngModel required text-right></ion-input>
                </ion-item>
                <ion-item class="bg-light">
                    <ion-label>{{'create_password' | translate}}</ion-label>
                    <ion-input name="password" type="password" placeholder="*******" ngModel required text-right></ion-input>
                </ion-item>
                <ion-item class="bg-light">
                    <ion-label>{{'confirm_password' | translate}}</ion-label>
                    <ion-input name="password_confirmation" type="password" placeholder="*******" ngModel required text-right></ion-input>
                </ion-item>
                <ion-item  class="bg-light">
                    <ion-label>You are a </ion-label>
                    <ion-select name="role" ngModel required text-right>
                        <ion-option value="driver">Driver</ion-option>
                        <ion-option value="user">Passenger</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <button ion-button block class="btn round shadow-green" type="submit">{{'sign_up_now' | translate}}</button>

            <ion-row padding-left padding-right padding-top text-center class="text">
                <ion-col (click)="loginPage()">{{'already_registered' | translate}} <strong class="text-theme">{{'sign_in' | translate}}</strong></ion-col>
            </ion-row>
        </div>
    </form>
</ion-content>
