<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar></ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-list lines="none">
            <ion-menu-toggle>
              <ion-item routerLink="/profile">
                <ion-avatar slot="start">
                  <img src="{{driver.photoURL}}" onError="this.src='assets/img/default-dp.png'" />
                </ion-avatar>
                <ion-label>
                  <ion-text>
                    <h2>{{driver.first_name}} {{driver.last_name}}</h2>
                  </ion-text>
                  <ion-text>
                    <p>{{driver.email}}</p>
                  </ion-text>
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of driverPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>