<p id="notice"><%= notice %></p>

<p>
  <strong>Holder name:</strong>
  <%= @payment.holder_name %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @payment.card_number %>
</p>

<p>
  <strong>Card cvv:</strong>
  <%= @payment.card_cvv %>
</p>

<p>
  <strong>Card expiry:</strong>
  <%= @payment.card_expiry %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
