<ion-header>
    <ion-navbar>
        <!--
<button ion-button menuToggle>
</button>
-->
        <ion-title>{{'receipt' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div class="bg-white recipt" text-center>
        <h6>{{'fare_summary' | translate}}</h6>
        <h1 class="text-black">$23.00</h1>
        <p>22 Oct, 2017, 12:30</p>
        <ion-list>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/2.png">
                </ion-avatar>
                <p class="text-black">{{'rate_now' | translate}}</p>
                <h2 class="text-black">Sam Smith</h2>
            </ion-item>
        </ion-list>
    </div>

</ion-content>

<ion-footer no-border>
    <div class="rateing_btn">
        <div class="rateing">
            <ion-icon name="star" class=""></ion-icon>
            <ion-icon name="star" class=""></ion-icon>
            <ion-icon name="star" class=""></ion-icon>
            <ion-icon name="star" class=""></ion-icon>
            <ion-icon name="star" class=""></ion-icon>
        </div>
        <button ion-button block class="btn shadow-red" (click)="tabs()">{{'submit_rating' | translate}}</button>
    </div>
</ion-footer>
