<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="{{'home' | translate}}" tabIcon="md-car" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="{{'rating' | translate}}" tabIcon="md-star" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="{{'earning' | translate}}" tabIcon="md-cash" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="{{'profile' | translate}}" tabIcon="md-person" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>
