<style type="text/css">
	.l-con span:nth-child(1) {
	  display: block;
	}
</style>
<!-- begin #page-loader -->
<%= render 'devise/static/loader'%>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
  <!-- begin login -->
  <div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <%= render 'devise/static/logo'%>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
      <!-- begin login-header -->
      <%= render 'devise/static/header', :header_title => "Edit Your Account."%>
      <!-- end login-header -->
      <!-- begin login-content -->
      <div class="login-content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group m-b-15">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :class => 'form-control form-control-lg', required: true, placeholder: 'First Name' %>
          </div>

          <div class="form-group m-b-15">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :class => 'form-control form-control-lg', required: true, placeholder: 'Last Name' %>
          </div>
          <div class="custom-file form-group m-b-25">
            <%= f.file_field :avatar, autofocus: true, id: "file-upload", class: "custom-file-input form-control form-control-lg", autocomplete: "avatar", placeholder: 'Avatar' %>
            <label class="custom-file-label form-control form-control-lg" for="file-upload"><span id="file-selected">Choose file...</label>
          </div>
          <div class="form-group m-b-15">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control form-control-lg', placeholder: 'E-mail' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          	<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group m-b-15">
            <%= f.password_field :current_password, autocomplete: "current-password", :class => 'form-control form-control-lg', placeholder: 'Current Password' %>
          </div>

          <div class="form-group m-b-15">
            <i>Leave blank if you don't want to change your password:</i>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control form-control-lg', placeholder: 'New Password' %>
          </div>

          <div class="form-group m-b-15">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control form-control-lg', placeholder: 'Confirm New Password' %>
          </div>

          <div class="actions">
            <%= f.submit "Update", :class => 'btn btn-success btn-block btn-lg' %>
          </div>
        <% end %>
				<br/>
        <div class="actions">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger btn-block btn-sm' %>
        </div>
        <div class="m-t-20 m-b-40 text-inverse">
          <b><%= link_to "< Go back", :back, class: "text-scout" %></b>
        </div>
      </div>
      <!-- end login-content -->
    </div>
    <!-- end right-container -->
  </div>
  <!-- end login -->

</div>
<%= tinymce %>
<!-- end page container -->

<script>
  $(document).ready(function() {
    App.init();
    tinymce.init({
      selector: 'textarea',  // change this value according to your HTML
      forced_root_block : ""
    });
  });
  $('#file-upload').bind('change', function(){
    var fileName = '';
    fileName = $(this).val();
    fileName = fileName.split('fakepath').pop().replace(/\\/g, '');
    $('#file-selected').html(fileName);
  })
</script>
