<style type="text/css">
	.login.login-with-news-feed .news-caption, .register.register-with-news-feed .news-caption {
		background: linear-gradient(to top,rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 40%, rgba(255,255,255,1) 100%);
		top: 0;
		bottom: unset;
		padding: 110px 60px 30px;
	}
	.l-con span:nth-child(1) {
	  display: block;
	}
	.news-image {
		background-position: center top!important;
		background-size: contain;
	}
  .news-logo img {
    position: absolute;
    top	: 15px;
    left: 25px;
    width: 250px;
}
	.news-logo img.manage-logo {
		position: absolute;
		top	: 18px;
		left: 300px;
		width: 150px;
	}
</style>
<!-- begin #page-loader -->
<%= render 'devise/static/loader'%>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-with-news-feed">
      <!-- begin news-feed -->
      <%= render 'devise/static/logo'%>
      <!-- end news-feed -->
      <!-- begin right-content -->
      <div class="right-content">
        <!-- begin login-header -->
        <%= render 'devise/static/header', :header_title => "Register an Account."%>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'margin-bottom-0'}) do |f| %>
	          <div class="form-group m-b-15">
	            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :class => 'form-control form-control-lg', required: true, placeholder: 'First Name' %>
	          </div>

	          <div class="form-group m-b-15">
	            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :class => 'form-control form-control-lg', required: true, placeholder: 'Last Name' %>
	          </div>
	          <div class="custom-file form-group m-b-25">
	            <%= f.file_field :avatar, autofocus: true, id: "file-upload", class: "custom-file-input form-control form-control-lg", autocomplete: "avatar", placeholder: 'Avatar' %>
	            <label class="custom-file-label form-control form-control-lg" for="file-upload"><span id="file-selected">Choose file...</label>
	          </div>
	          <div class="form-group m-b-15">
	            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control form-control-lg', required: true, placeholder: 'E-mail' %>
	          </div>
	          <div class="form-group m-b-15">
	            <% if @minimum_password_length %>
	            	<em>(<%= @minimum_password_length %> characters minimum)</em>
	            <% end %><br />
	            <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control form-control-lg', required: true, placeholder: 'Password' %>
	          </div>

	          <div class="form-group m-b-15">
	            <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control form-control-lg', required: true, placeholder: 'Confirm Password' %>
	          </div>

	          <div class="login-buttons">
	            <%= f.submit "Sign up", :class => 'btn btn-success btn-block btn-lg' %>
	          </div>
          <% end %>
          <%= render 'devise/static/links'%>
        </div>
        <!-- end login-content -->
      </div>
      <!-- end right-container -->
    </div>
    <!-- end login -->

  </div>
  <!-- end page container -->
  <script>
    $(document).ready(function() {
      App.init();
    });
    $('#file-upload').bind('change', function(){
      var fileName = '';
      fileName = $(this).val();
      fileName = fileName.split('fakepath').pop().replace(/\\/g, '');
      $('#file-selected').html(fileName);
    })
  </script>
