<ion-header>
    <ion-navbar>
        <ion-list no-lines>
            <ion-item>
                <p item-start class="active" text-start>{{'offline' | translate}}</p>
                <ion-toggle checked="false"></ion-toggle>
                <p item-end class="disabled" text-end> {{'online ' | translate}}</p>
            </ion-item>
        </ion-list>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list no-lines>
        <ion-item (click)="myprofilePage()">
            <ion-avatar item-start>
                <img src="assets/imgs/2.png">
            </ion-avatar>
            <h2 class="d-flex">George Smith
                <span class="end text-theme">{{'view_profile' | translate}}</span>
            </h2>
            <p class="d-flex">
                <small>4.7</small>
                <span class="rateing  d-flex">
                    <ion-icon class="active" name="ios-star"></ion-icon>
                    <ion-icon class="active" name="ios-star"></ion-icon>
                    <ion-icon class="active" name="ios-star"></ion-icon>
                    <ion-icon class="active" name="ios-star"></ion-icon>
                    <ion-icon class="" name="ios-star"></ion-icon>
                </span>
            </p>
        </ion-item>
        <ion-item class="car-detail">
            <p class="text-">Hyundai WagonR</p>
            <h2 class="text-dark"><strong>DL ZA 5887</strong></h2>
        </ion-item>
    </ion-list>
    <div class="menu-items">
        <ion-row>
            <ion-col col-6>
                <div class="manu_box" text-center (click)="mytripsPage()">
                    <ion-icon class="material-icons">directions_car</ion-icon>
                    <h4>{{'my_trips' | translate}}</h4>
                </div>
            </ion-col>
            <ion-col col-6>
                <div class="manu_box" text-center (click)="wallet()">
                    <h2>$ 150.50</h2>
                    <h4>{{'wallet' | translate}}</h4>
                </div>
            </ion-col>
            <ion-col col-6>
                <div class="manu_box" text-center (click)="helpPage()">
                    <ion-icon class="material-icons">help</ion-icon>
                    <h4>{{'help' | translate}}</h4>
                </div>
            </ion-col>
            <ion-col col-6>
                <div class="manu_box" text-center (click)="documentsPage()">
                    <ion-icon class="material-icons">assignment_ind</ion-icon>
                    <h4>{{'documents' | translate}}</h4>
                </div>
            </ion-col>
            <ion-col col-6>
                <div class="manu_box" text-center>
                    <ion-icon class="material-icons">share</ion-icon>
                    <h4>{{'share' | translate}}</h4>
                </div>
            </ion-col>
            <ion-col col-6>
                <div class="manu_box" text-center (click)="aboutPage()">
                    <ion-icon class="material-icons">assignment</ion-icon>
                    <h4>{{'t&c' | translate}}</h4>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
