<ion-header>
  <ion-toolbar>
    <ion-title>{{'RIDE_INFORMATION' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngIf="passenger.phoneNumber">
          <ion-label>
            <ion-text>
              <h2>{{(passenger)?.first_name }} {{(passenger)?.last_name }}</h2>
            </ion-text>
            <ion-text>
              <p>{{(passenger)?.phoneNumber }}</p>
            </ion-text>
          </ion-label>
          <ion-button slot="end" href="tel:{{passenger.phoneNumber}}">
            <ion-icon name="call"></ion-icon>&nbsp; {{'CALL' | translate}}
          </ion-button>
          <ion-button color="dark" slot="end"  (click)="showChat()">
            <ion-icon name="chatbubbles"></ion-icon>&nbsp;Message
          </ion-button>

        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text>
              <ion-badge color="primary" *ngIf="trip.status == 'accepted'">Accepted</ion-badge>
              <ion-badge color="secondary" *ngIf="trip.status == 'going'">Going</ion-badge>
              <ion-badge color="success" *ngIf="trip.status == 'finished'">Completed</ion-badge>
              <ion-badge color="danger" *ngIf="trip.status == 'canceled'">Canceled</ion-badge>
              <ion-badge color="light" *ngIf="trip.status == 'pending'">Pending</ion-badge>
              <ion-badge color="medium" *ngIf="trip.status == 'waiting'">Waiting</ion-badge>
            </ion-text>
          </ion-label>
          <ion-label>
            <ion-text>
              <h2>{{'FROM' | translate}}</h2>
            </ion-text>
            <ion-text>
              <p *ngIf="trip.origin != undefined">{{ trip.origin.vicinity }}</p>
            </ion-text>
          </ion-label>
          <ion-button slot="end" fill="clear" color="dark"
                      (click)="getDirection(trip.origin.location.lat,trip.origin.location.lng)">
            <ion-icon name="navigate"></ion-icon>&nbsp; {{'NAVIGATE' | translate}}
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text>
              <h2>{{'TO' | translate}}</h2>
            </ion-text>
            <ion-text>
              <p *ngIf="trip.destination != undefined">{{ trip.destination.vicinity }}</p>
              <p *ngIf="trip.destination != undefined">{{ trip.locationDetails }}</p>
            </ion-text>
          </ion-label>
          <ion-button slot="end" fill="clear" color="dark"
                      (click)="getDirection(trip.destination.location.lat,trip.destination.location.lng)">
            <ion-icon name="navigate"></ion-icon>&nbsp; {{'NAVIGATE' | translate}}
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text>
              <h2>Delivery Information</h2>
            </ion-text>
            <ion-text>
              <p>{{ trip.recipientName }}</p>
              <p>{{ trip.mobileNumber }}</p>
              <p>{{ trip.itemCategory }}</p>
            </ion-text>
          </ion-label>
          <ion-button slot="end" href="tel:{{trip.mobileNumber}}" [hidden]="!isTripStarted">
            <ion-icon name="call"></ion-icon>&nbsp; {{'CALL' | translate}}
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <img [src]="trip.imageUrl"  *ngIf="trip.imageUrl"/>
          </ion-label>
          <ion-button slot="end" (click)="upload()" color="success">
            <ion-icon name="camera"></ion-icon>&nbsp; Take a Picture
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-badge>{{ trip.payment_method }}</ion-badge>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="dark" [hidden]="isTripStarted" (click)="pickup()">{{'PICKUP' | translate}}
    </ion-button>
    <ion-button expand="block" color="danger" [hidden]="!isTripStarted" (click)="showPayment()">
      {{'COMPLETE_RIDE' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>