<div class="login-header">
  <div class="brand" style="text-align: center;">
    <img src="<%= asset_path('logo-2.png') %>"  class="logo-img" style="margin-bottom: 10px;">
    <small><%= header_title %></small>
  </div>
  <div class="icon">
    <i class="fa fa-sign-in"></i>
  </div>
</div>
