<div class="news-feed">
  <div class="news-image" style="background-image: url(<%= asset_path('login-bg-11.jpg') %>);"></div>
  <div class="news-caption">
    <div class="news-logo">
      <img src="<%= asset_path('logo-2.png') %> " class="logo-img" />
      <!-- <p>
        Welcome.
      </p> -->
    </div>
  </div>
</div>
