<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'HOME' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="{{driver.photoURL}}" onError="this.src='assets/img/default-dp.png'">
    </ion-avatar>
    <ion-label>{{ (driver)?.first_name }} {{ (driver)?.last_name }}
    </ion-label>
    <ion-toggle [(ngModel)]="isDriverAvailable" [disabled]="!driver.canRide"  (ionChange)="changeAvailability()" slot="end"></ion-toggle>
  </ion-item>
</ion-header>

<ion-content>
    <div id="map" style="height: 100%;width:100%;"></div>
</ion-content>