<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'HOME' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="{{ (driver)?.photoURL}}">
    </ion-avatar>
    <ion-label>{{ (driver)?.name }} - {{ (driver)?.rating }} <ion-icon name="md-star"></ion-icon>
    </ion-label>
    <ion-toggle [(ngModel)]="isDriverAvailable" (ionChange)="changeAvailability()" slot="end"></ion-toggle>
  </ion-item>
</ion-header>

<ion-content>
    <div id="map" style="height: 100%;width:100%;"></div>
</ion-content>