/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.login.login-v2 {
    width: 100%;
    position: absolute;
    top: -15%;
    bottom: 0;
    margin: 0;
    left: 0;
}

.login.login-v2 label {
    color: #000000;
}

.login.login-v2 .login-content .form-control {
    border: 1px solid #d5dbe0;
}