/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require vendor/app.min
 *= require vendor/bootstrap3-wysihtml5
 *= require vendor/application-mobile
 *= require vendor/jquery-jvectormap
 *= require select2
 *= require select2-bootstrap
 *= require custom
 *= require_self
 */

.rating{line-height:20px;margin:0 0 5px;display:-webkit-box;display:-ms-flexbox;display:flex}
.rating span.star{margin-right:1px}
.rating span.star:before{content:'\f005';color:#d5dbe0;font-family:Font Awesome\ 5 Free,Font Awesome\ 5 Pro,FontAwesome!important;font-weight:900;font-style:normal;font-variant:normal;text-rendering:auto}
.rating span.star.active:before{color:#f59c1a}
.login.login-v2 {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  left: 0;
}