
<div class="modal modal-static fade" id="already-exist-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <i class="text-warning fas fa-exclamation-triangle fa-3x"></i>
          <br/>
          <br/>
          <h4>Email already exist.</h4>
          <br/>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>