
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <i class="text-primary fas fa-spinner fa-pulse fa-3x"></i>
          <br/>
          <br/>
          <h4>Processing...</h4>
        </div>
      </div>
    </div>
  </div>
</div>