<style type="text/css">
  .l-con span:nth-child(1) {
    display: block;
  }
</style>
<!-- begin #page-loader -->
<%= render 'layouts/static/loader'%>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
  <!-- begin login -->
  <div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <%= render 'layouts/static/logo'%>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
      <!-- begin login-header -->
      <%= render 'layouts/static/header', :header_title => "Drive with us!"%>

      <!-- end login-header -->
      <!-- begin login-content -->
      <div class="login-content">
        <%= form_with(action: "create", local: true, :html => {:class => 'margin-bottom-0', :id => 'driver_register', 'data-parsley-validate' => true}) do |f| %>

          <%= f.hidden_field :uid %>
          <%= f.hidden_field :password %>
          <%= f.hidden_field :nbi_url %>
          <%= f.hidden_field :license_front_url %>
          <%= f.hidden_field :license_back_url %>
          <%= f.hidden_field :previous_id_url %>
          <%= f.hidden_field :orcr_url %>
          <hr/>
          <h5>Information</h5>
          <div class="form-group m-b-15">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control form-control-lg', placeholder: 'E-mail', required: true, :data => {'data-parsley-required' => 'true' }  %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :first_name, :class => 'form-control form-control-lg', placeholder: 'First', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :middle_name, :class => 'form-control form-control-lg', placeholder: 'Middle' %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :last_name, :class => 'form-control form-control-lg', placeholder: 'Last', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :phone_number, :class => 'form-control form-control-lg', placeholder: 'Phone #', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :address, :class => 'form-control form-control-lg', placeholder: 'Present Address', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.select :gender, options_for_select([['Female', 'female'], ['Male', 'male']]), {:prompt => 'Select Gender'}, class: 'form-control form-control-lg', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.select :driver_type, options_for_select(['Subscriber', 'Credit']), {:prompt => 'Select Subscription'}, class: 'form-control form-control-lg', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.date_field :birth_date, :class => 'form-control form-control-lg', placeholder: 'Birth Date', required: true %>
          </div>
          <hr/>
          <h5>Emergency Contact Person</h5>
          <div class="form-group m-b-15">
            <%= f.text_field :ecp_first_name, :class => 'form-control form-control-lg', placeholder: 'First', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :ecp_middle_name, :class => 'form-control form-control-lg', placeholder: 'Middle' %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :ecp_last_name, :class => 'form-control form-control-lg', placeholder: 'Last', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :ecp_phone_number, :class => 'form-control form-control-lg', placeholder: 'Phone #', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.select :ecp_relationship, options_for_select(['Spouse', 'Brother', 'Sister', 'Mother', 'Father', 'Son', 'Daughter']), {:prompt => 'Select Relationship'}, class: 'form-control form-control-lg', required: true %>
          </div>
          <hr/>
          <h5>Vehicle Information</h5>
          <div class="form-group m-b-15">
            <%= f.text_field :brand, :class => 'form-control form-control-lg', placeholder: 'Brand', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :model, :class => 'form-control form-control-lg', placeholder: 'Model', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.text_field :plate, :class => 'form-control form-control-lg', placeholder: 'Plate #', required: true %>
          </div>
          <div class="form-group m-b-15">
            <%= f.select :type, options_for_select([['Motor', 'motor'], ['MPV', 'mpv']]), {:prompt => 'Select Type'}, class: 'form-control form-control-lg', required: true %>
          </div>
          <hr/>
          <h5>Upload (Mandatory)</h5>
          <div class="form-group row m-b-15">
            <%= f.label :nbi, 'NBI:', class: 'text-left col-md-4 col-sm-4 col-form-label' %>
            <div class="col-md-8 col-sm-8">
              <%= f.file_field :nbi, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= f.label :license_front, 'License Front:', class: 'text-left col-md-4 col-sm-4 col-form-label' %>
            <div class="col-md-8 col-sm-8">
              <%= f.file_field :license_front, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= f.label :license_back, 'License Back:', class: 'text-left col-md-4 col-sm-4 col-form-label' %>
            <div class="col-md-8 col-sm-8">
              <%= f.file_field :license_back, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= f.label :id_previous, 'Previous IDs:', class: 'text-left col-md-4 col-sm-4 col-form-label' %>
            <div class="col-md-8 col-sm-8">
              <%= f.file_field :id_previous, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= f.label :orcr, 'ORCR:', class: 'text-left col-md-4 col-sm-4 col-form-label' %>
            <div class="col-md-8 col-sm-8">
              <%= f.file_field :orcr, class: 'form-control' %>
            </div>
          </div>
          <div class="login-buttons">
            <a href="javascript:void(0)" class="btn btn-success btn-block btn-lg" id="new_driver_btn">Register</a>
          </div>
        <% end %>
      </div>
      <!-- end login-content -->
    </div>
    <!-- end right-container -->
  </div>
  <!-- end login -->
</div>
<%= render 'registration/processing_modal' %>
<%= render 'registration/already_exist_modal' %>
<!-- end page container -->

<script>
  var nbi = null;
  var license_front = null;
  var license_back = null;
  var id_previous = null;
  var orcr = null;

  $('#nbi').change( function(event) {
    nbi = event.target.files[0];
  });
  $('#license_front').change( function(event) {
    license_front = event.target.files[0];
  });
  $('#license_back').change( function(event) {
    license_back = event.target.files[0];
  });
  $('#id_previous').change( function(event) {
    id_previous = event.target.files[0];
  });
  $('#orcr').change( function(event) {
    orcr = event.target.files[0];
  });
  $('#new_driver_btn').click(async function(e) {
    var email = $("#email").val();
    var randomPassword = Math.random().toString(36).slice(-8);
    var uid = "";
    var fullname = $("#first_name").val() + "" + $("#last_name").val()
    if (isValidated()) {
      $('#processing-modal').modal('show');

      var nbiUrl = nbi ? (await uploadImages(fullname, nbi)) : "";
      var licenseFrontUrl = license_front ? (await uploadImages(fullname, license_front)) : "";
      var licenseBackUrl = license_back ? (await uploadImages(fullname, license_back)) : "";
      var previousIdUrl = id_previous ? (await uploadImages(fullname, id_previous)) : "";
      var orcrUrl = orcr ? (await uploadImages(fullname, orcr)) : "";
      firebase.auth().createUserWithEmailAndPassword(email, randomPassword).then(function(data){
        uid = data.user.uid;
        $("#uid").val(uid);
        $("#password").val(randomPassword);
        $("#nbi_url").val(nbiUrl);
        $("#license_front_url").val(licenseFrontUrl);
        $("#license_back_url").val(licenseBackUrl);
        $("#previous_id_url").val(previousIdUrl);
        $("#orcr_url").val(orcrUrl);
        $('#driver_register').submit();
      }).catch(function(error) {
        $('#processing-modal').modal('hide');
        $('#processing-modal').on('hidden.bs.modal', function (e) {
          $('#already-exist-modal').modal('show');
        })
      })
    }else{
      alert("Please enter all fields.")
    }

  });
  async function uploadImages(uid, file) {
    let promise = new Promise((res, rej) => {
      if (file != null && file != undefined && file != "") {
        let storageRef = firebase.storage().ref('files/' + uid + '/' + file.name);
        storageRef.put(file).then(function (){
          storageRef.getDownloadURL().then(function(snapshot) {
            res(snapshot);
          });
        });
      }else{
        return "";
      }
    });

    // wait until the promise returns us a value
    let result = await promise;

    return result;
  }

  function isValidated() {
    var fields = $('input[required="required"], select[required="required"]');
    var isValidate = true;
    for(var i=0;i<fields.length;i++){
      if(!$(fields[i]).val() || 0 === $(fields[i]).val().length){
        isValidate = false;
        break;
      }
    }
    return isValidate;
  }
</script>