<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
  <!-- begin coming-soon -->
  <div class="coming-soon">
    <!-- begin coming-soon-header -->
    <div class="coming-soon-header">
      <div class="bg-cover"></div>
      <div class="brand">
        <img src="<%= asset_path('logo-2.png') %> " class="logo-img" />
      </div>
      <div class="desc">
        Wait for the approval/verification on your email address. Have a good day!
      </div>
      <div class="timer">
        <div id="timer"></div>
      </div>
    </div>
    <!-- end coming-soon-header -->
    <!-- begin coming-soon-content -->
    <div class="coming-soon-content">
      <p>
        Follow us on
        <a href="javascript:;" class="text-inverse"><i class="fab fa-twitter fa-lg fa-fw text-info"></i> Twitter</a> and
        <a href="javascript:;" class="text-inverse"><i class="fab fa-facebook fa-lg fa-fw text-blue"></i> Facebook</a>
      </p>
    </div>
    <!-- end coming-soon-content -->
  </div>
  <!-- end coming-soon -->
  <!-- end theme-panel -->
</div>
<!-- end page container -->