<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
		<ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div id="chats">
		<div class="message" *ngFor="let chat of chats" [class]="chat.specialMessage ? 'message special' : 'message '">
			<div [class]="chat.email == email ? 'chats messageRight' : 'chats messageLeft'">
				<div class="username">{{ chat.name }} </div>
				<div class="chatMessage">{{ chat.message }} </div>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
	<ion-row class="footer">
	    <ion-col size="9">
	   		<ion-input type="text" [(ngModel)]="message" name="message"></ion-input>
	   	</ion-col>
	   	<ion-col size="3">
	   		<ion-button (click)="sendMessage()">
			  <ion-icon slot="icon-only" name="md-send"></ion-icon>
			</ion-button>
		</ion-col>
	</ion-row>
  </ion-toolbar>
</ion-footer>
