<ion-header>
    <ion-navbar>
        <ion-title>
            {{'terms_conditions' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="logo">
        <img src="assets/imgs/logo.png">
        <h2>{{'cabber_3.2' | translate}}</h2>
    </div>
    <div class="text_box">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        </p>
    </div>
</ion-content>
