<ion-header>
  <ion-toolbar color="dark"></ion-toolbar>
</ion-header>
<ion-content>
  <div class="login-header">
    <img src="./assets/img/logo.png" />
    <h2 ion-text color="light">{{'LOGIN' | translate}}</h2>
  </div>
  <div padding>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">{{'FIRSTNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'LASTNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'CITY' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'EMAIL_ADDRESS' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'PASSWORD' | translate }} (MIN 6 CHAR)</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'RETYPEPASSWORD' | translate }} (MIN 6 CHAR)</ion-label>
        <ion-input type="password" [(ngModel)]="password_confirmation"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'PHONE_NUMBER' | translate }}</ion-label>
        <ion-row>
          <ion-col size="2">
            <ion-input type="tel" value="+63" disabled="true"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="tel" [(ngModel)]="phone_number"></ion-input>
          </ion-col>
        </ion-row>


      </ion-item>
      <!--<ion-item >-->
        <!--<ion-label position="stacked">You are a </ion-label>-->
        <!--<ion-select name="role" [(ngModel)]="user_type" required>-->
          <!--<ion-select-option value="driver">Driver</ion-select-option>-->
          <!--<ion-select-option value="user">Client</ion-select-option>-->
        <!--</ion-select>-->
      <!--</ion-item>-->
      <div padding>
        <ion-button color="dark" expand="block" (click)="signup()">
          {{'REGISTER' | translate}}
        </ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-button color="light" fill="clear" expand="block" routerLink="/login">{{'LOGIN' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>