<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-justify-content-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <img src="/assets/logo.png" class="logo"/>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input name="email" type="email" placeholder="Email Address" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button color="primary" size="large" type="submit" [disabled]="form.invalid" expand="block">Sign-in</ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center link-descriptions">
      <a routerLink='/forgot-password'>
          Forgot Password?</a>
      </ion-row>
      <ion-row class="ion-justify-content-center link-descriptions margin-bottom-20px">
      <a routerLink='/resent-confirmation'>
          Didn't receive confirmation instructions?</a>
      </ion-row>


      <ion-row class="ion-justify-content-center link-descriptions" >
        If you don't have an account?,&nbsp;<a routerLink='/register'>
          Register Here!</a>
      </ion-row>

      <ion-row class="ion-justify-content-center link-descriptions">
         Drive with us.&nbsp;<a routerLink='/register/driver'>
          Sign Here</a>.
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
