ion-button{
    --background: #062f77;
}
.logo {
  max-height: 80px;
  width: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23) !important;
  border-radius: 50%;
  vertical-align: middle;
  border-style: none;
}

.link-descriptions {
    margin-top: 10px;
    font-size: 12px;
}

a {
  font-weight: bold;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}