<ion-header>
    <ion-navbar>
        <ion-title>{{'sign_in' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding-left padding-right padding-top text-center>
    <form #form="ngForm" (ngSubmit)="login(form)">
        <img src="assets/imgs/logo.png" class="logo">
        <div padding>
            <ion-list class="form" no-lines>
                <ion-item class="bg-light">
                    <ion-label>Email Address:&nbsp;</ion-label>
                    <ion-input name="email" type="email" ngModel required></ion-input>
                </ion-item>
                <ion-item class="bg-light">
                    <ion-label>Password:&nbsp; </ion-label>
                    <ion-input name="password" type="password" placeholder="********" ngModel required></ion-input>
                </ion-item>
            </ion-list>
            <button ion-button block full text-uppercase class="bg-green text-white btn round shadow-green" type="submit" [disabled]="form.invalid">{{'login' | translate}}</button>
        </div>
    </form>
    <ion-row padding-left padding-right>
        <ion-col (click)="signupPage()"><small>{{'new_user' | translate}}<strong class="text-theme">{{'sign_up' | translate}}</strong></small></ion-col>
        <ion-col text-end><small><strong class="text-theme">{{'forgot' | translate}}&nbsp;{{'password?' | translate}} </strong></small></ion-col>
    </ion-row>
</ion-content>
