/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require vendor/app.min
 *= require vendor/bootstrap3-wysihtml5
 *= require vendor/application-mobile
 *= require vendor/jquery-jvectormap
 *= require select2
 *= require select2-bootstrap
 *= require custom
 *= require_self
 */

.rating{line-height:20px;margin:0 0 5px;display:-webkit-box;display:-ms-flexbox;display:flex}
.rating span.star{margin-right:1px}
.rating span.star:before{content:'\f005';color:#d5dbe0;font-family:Font Awesome\ 5 Free,Font Awesome\ 5 Pro,FontAwesome!important;font-weight:900;font-style:normal;font-variant:normal;text-rendering:auto}
.rating span.star.active:before{color:#f59c1a}
.m-nav {
  display: none;
}

body.pattern-white{
  background: url(asset_path('pattern-bg-white.png'));
}
.btn, .top-menu .nav > li > a, .panel-title {
  font-family: 'Poppins', sans-serif!important;
}
.extend_image img {
  height: 40px !important;
  object-fit: cover;
}

.social-links {
  font-size: 1.3em !important;
  text-align: center;
}

.select2 {
  width: 100% !important;
}

.lbl-padding-t {
  padding-top: 7px!important;
}

li[aria-disabled="true"] {
  margin-top:8px;
  border-top:1px solid #666;
  padding:0;
}

.data-table-buttons {
  width: 100% !important;
  max-width: none !important;
}
.data-table-no-buttons {
  width: 100% !important;
  max-width: none !important;
}
table.dataTable {
  margin-bottom: 0 !important;
}
.notification-padding {
  padding: 12px !important;
}
.hlc { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; }
.hlc span { padding:0 10px; font-size: 14px; font-weight: bolder;}
.text-scout {
  color: #dd2c35!important;
}
.btn-scout {
  background-color: #A6181F!important;
  border-color: #A6181F!important;
  color: #fff;
  transition: .1s;
}
.btn-scout:hover {
  background-color: #6f060b!important;
  border-color: #6f060b!important;
}
.checkbox.checkbox-css input:checked+label:before {
  background: #A6181F!important;
  border-color: #A6181F!important;
}
#file-selected {
  overflow: hidden;
  white-space: nowrap;
}
#file-upload {
  cursor: pointer;
}
.custom-file {
  margin-bottom: 5px;
}
.form-control:focus {
  border-color: #dd2c35!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 44, 53, .8)!important;
}
.custom-file-label::after {
  height: 100%!important;
  line-height: 2!important;
}
.custom-file label {
  font-weight: normal!important;
  line-height: 1.7!important;
}
.custom-file-label::after {
  background-color: #A6181F;
  color: #fff;
  border-left: 1px solid #A6181F;
}
.custom-file-input:focus ~ .custom-file-label {
  border-color: #dd2c35!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(219, 135, 185, .8)!important;
}
.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #dd2c35!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(219, 135, 185, .8)!important;
}
.header.navbar-default {
  background: #131c24!important;
}
.header.navbar-default .brand, .header.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Poppins', sans-serif!important;
  font-size: 24px;
}
.boxed-layout .page-container {
  box-shadow: 0 0 30px rgba(2,2,2,.6);
}
.boxed-layout .page-container, .header.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
/*.login.login-v2 {
  margin-top: 130px!important;
}*/
.boxed-layout .page-container, .boxed-layout .page-container #header {
  width: 90vw!important;

}
.boxed-layout .pace, .boxed-layout .top-menu {
  width: 90vw!important;
  left: 0;
  margin: 0;
}
.content {
  padding: 0;
}
.header .navbar-nav>li .dropdown-toggle .label, .header .navbar-nav>li>a .label {
  background-color: #dd2c35!important;
}
.active.carrier {
  background-color: #A6181F!important;
  color: #fff!important;
  font-weight: bold;
}
.active.carrier:hover {
  background-color: #A6181F!important;
  color: #fff!important;
  font-weight: bold;
  opacity: .8;
}
.active.shipper {
  background-color: #005a58!important;
  color: #fff!important;
  font-weight: bold;
}
.active.shipper:hover {
  background-color: #005a58!important;
  color: #fff!important;
  font-weight: bold;
  opacity: .8;
}
.active.activity {
  background-color: #ee9c10!important;
  color: #fff!important;
  font-weight: bold;
}
.active.activity:hover {
  background-color: #ee9c10!important;
  color: #fff!important;
  font-weight: bold;
  opacity: .8;
}
.active.rate {
  background-color: #014b0a!important;
  color: #fff!important;
  font-weight: bold;
}
.active.rate:hover {
  background-color: #014b0a!important;
  color: #fff!important;
  font-weight: bold;
  opacity: .8;
}
.active.reminder {
  background-color: #0cadd0!important;
  color: #fff!important;
  font-weight: bold;
}
.active.reminder:hover {
  background-color: #0cadd0!important;
  color: #fff!important;
  font-weight: bold;
  opacity: .8;
}
.active.load_tile {
  background-color: #e5e3e3!important;
  color: #242a30!important;
  font-weight: bold;
}
.active.load_tile:hover {
  background-color: #e5e3e3!important;
  color: #242a30!important;
  font-weight: bold;
  opacity: .8;
}
.active.steward, .active.load_tile {
  background-color: #7e1d7e!important;
  color: #fff!important;
  font-weight: bold;
}
.active.steward:hover, .active.load_tile:hover {
  background-color: #7e1d7e!important;
  color: #fff!important;
  font-weight: bold;
  opacity: .8;
}
.bg-inverse {
  background-color: #1a2229!important;
}
.top-nav-icon {
  width: 100px;
}
.content-table {
  padding: 0!important;
}
.panel-green>.panel-heading {
  background-color: #3d5700;
  color: #fff;
}
.panel-darkred>.panel-heading {
  background-color: #500007;
  color: #fff;
}
.panel-scout>.panel-heading {
  background-color: #6f060b;
  color: #fff;
}
.panel-darkblue>.panel-heading {
  background-color: #013a38;
  color: #fff;
}
.panel-yelloworange>.panel-heading {
  background-color: #dd8b00;
  color: #fff;
}
.panel-emerald>.panel-heading {
  background-color: #033309;
  color: #fff;
}
.panel-violet>.panel-heading {
  background-color: #530254;
  color: #fff;
}
.panel-lightblue>.panel-heading {
  background-color: #0a849f;
  color: #fff;
}
.login-cover-bg {
  background-color: rgba(255,255,255, .4);
}
.panel-heading {
  padding: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.lp-header {
  padding-left: 5px;
  font-family: 'Poppins', sans-serif!important;
  font-weight: 500;
  font-size: 20px;
}

.header-scout {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #6f060b;
}
.header-emerald {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #033309;
}
.header-darkblue {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #013a38;
}
.header-violet {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #530254;
}
.header-yelloworange {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #dd8b00;
}
.header-lightblue {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #0a849f;
}
.header-inverse {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #242a30;
}
.header-gray {
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: #c0bbbb;
}
.header-scout h1, .header-darkblue h1, .header-violet h1, .header-emerald h1,.header-yelloworange h1, .header-lightblue h1, .header-inverse h1, .header-gray h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif!important;
  font-size: 20px!important;
}
.header-scout small, .header-violet small, .header-darkblue small, .header-emerald small, .header-yelloworange small, .header-lightblue small, .header-inverse small, .header-gray small {
  color: #fff;
  font-family: 'Poppins', sans-serif!important;
  font-size: 15px;
}
.header-scout a, .header-violet a, .header-darkblue a, .header-emerald a, .header-yelloworange a, .header-lightblue a, .header-inverse a, .header-gray a {
  color: #fff!important;
}

.header-loads h1 {
  color: #242a30;
  font-family: 'Poppins', sans-serif!important;
  font-size: 20px!important;
}
.header-loads small {
  color: #242a30;
  font-family: 'Poppins', sans-serif!important;
  font-size: 15px;
}
.header-loads a {
  color: #242a30!important;
}
.lane-priority-1 {
  background: #baffc9;
}
.lane-priority-2 {
  background: #bae1ff;
}
.lane-priority-3 {
  background: #dddddd;
}
.tags {
  display: inline-block;
}
tfoot {
  display: table-header-group;
}
small.version {
  font-size: 50%;
}
tbody.spacer:before {
  content: "-";
  display: block;
  line-height: 1em;
  color: transparent;
}
.dataTables_scroll {position: relative;}
.dataTables_scrollFoot {position: absolute; top: 38px;}
.table > tfoot > tr > th {padding: 0;}
.badge-brown {
  background-color: #aa7243!important;
  color: #fff;
}
.badge-scout {
  background-color: #A6181F;
  color: #fff;
}
.badge-drakblue {
  background-color: #06027a!important;
  color: #fff;
}
.tooltip-inner {
  max-width: 500px!important;
  min-height: 50px;
  text-align: left;
  font-size: 14px;
  opacity: .85;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-right: 0px !important;
  padding: 0px 10px !important;
  font-size: 16px !important;
  background: #ff5b57;
  border-color: #ff5b57;
  color: #ffffff;
  border-radius: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear:hover {
  background:#cc4946;
  border-color:#cc4946
}
.disable-switch {
  pointer-events: none;
  opacity: .5;
}
.fa-1-2x {
  font-size: 1.2em;
}
.tile-container {
  min-height: 65vh;
}
ul.wysihtml5-toolbar li a[title="Insert image"] { display: none; }

.float-chained-tile {
  float: right;
  position: relative;
  left: 49%;
  margin-top: -40px;
}
.float-chained-tile > i {
  -moz-transform: rotate(41deg);
  -webkit-transform: rotate(41deg);
  -moz-transform: rotate(41deg);
  -ms-transform: rotate(41deg);
  -o-transform: rotate(41deg);
}
[data-letters]:before {
  content:attr(data-letters);
  display:inline-block;
  font-size:2em;
  width:64px;
  height:64px;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background: -moz-linear-gradient(-45deg, #5188da 0, #3487e2 100%) !important;
  background: -webkit-linear-gradient(-45deg, #5188da 0, #3487e2 100%) !important;
  background: linear-gradient(135deg, #5188da 0, #3487e2 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5188da', endColorstr='#3487e2', GradientType=1 ) !important;
  vertical-align:middle;
  color:white;
}

.loader {
  float: right;
  margin-right: -25px;
  margin-top: -25px;
  font-size: 1.5em;
}

.parsley-success-list.filled {
  margin-top: 5px !important;
}

.parsley-success-list {
  padding: 0 !important;
  list-style-type: none !important;
  margin: 0 !important;
  margin-top: 0px;
  color: #00acac;
  font-size: 12px !important;
  line-height: inherit !important;
}

.table-black {
  color: #000;
}

.bg-lightgreen {
  background: #b9ff5b;
}
.bg-lightyellow {
  background: #ffdb58;
}
.bg-lightpink {
  background: #ffc0cb;
}
.bg-lightblue {
  background:  #93d8ff ;
}
.bg-white {
  background: #ffffff;
}
.margin-5px-left {
  margin-left: 5px;
}
