<div id="sidebar" class="sidebar">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <ul class="nav">
      <li class="nav-profile">
        <a href="javascript:;" data-toggle="nav-profile">
          <div class="cover with-shadow"></div>
          <% if current_user.avatar.attached? %>
            <div class="image extend_image">
              <%= image_tag current_user.avatar %>
            </div>
          <% else %>
            <div class="image image-icon bg-black text-grey-darker">
              <i class="fa fa-user"></i>
            </div>
          <% end %>
          <div class="info">
            <b class="caret pull-right"></b>
            <%= (!current_user.first_name.nil? && !current_user.last_name.nil?) ? (current_user.first_name + " " + current_user.last_name) : '' %>
            <small><%= current_user.email %></small>
          </div>
        </a>
      </li>
      <li>
        <ul class="nav nav-profile">
          <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
          <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
          <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
        </ul>
      </li>
    </ul>
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">
      <li class="nav-header">Navigation</li>
      <li class="<%= (params[:controller] == 'dashboards') ? 'active' : ''%>">
        <a href="<%= authenticated_root_path %>">
          <i class="fa fa-th-large"></i>
          <span>Home</span>
        </a>
      </li>
      <% if current_user.has_role?(:admin) %>
        <li class="<%= (params[:controller] == 'clients') ? 'active' : ''%>">
          <a href="<%= carriers_path %>">
            <i class="fas fa-users"></i>
            <span>Clients</span>
          </a>
        </li>
        <li class="<%= (params[:controller] == 'activities') ? 'active' : ''%>">
          <a href="<%= activities_path %>">
            <i class="fas fa-book"></i>
            <span>Activities</span>
          </a>
        </li>
        <li class="<%= (params[:controller] == 'master_invoices') ? 'active' : ''%>">
          <a href="<%= master_invoices_path %>">
            <i class="fas fa-file-invoice"></i>
            <span>Invoices</span>
          </a>
        </li>
        <li class="<%= (params[:controller] == 'rates') ? 'active' : ''%>">
          <a href="<%= rates_path %>">
          <i class="fas fa-star-half-alt"></i>
            <span>Rates</span>
          </a>
        </li>
        <li class="<%= (params[:controller] == 'master_signals') ? 'active' : ''%>">
          <a href="<%= master_signals_path %>">
            <i class="fas fa-signal"></i>
            <span>Signals</span>
          </a>
        </li>
        <li class="<%= (params[:controller] == 'reps') ? 'active' : ''%>">
          <a href="<%= reps_path %>">
          <i class="fas fa-user-tie"></i>
            <span>Stewards</span>
          </a>
        </li>
        <li class="<%= (params[:controller] == 'locations') ? 'active' : ''%>">
          <a href="<%= locations_path %>">
          <i class="fas fa-map-marked-alt"></i>
            <span>Locations</span>
          </a>
        </li>

        <li class="has-sub<%= (params[:controller] == 'users') ? ' active' : ''%>">
          <a href="javascript:;">
            <b class="caret"></b>
            <i class="fas fa-cog"></i>
            <span>System Settings</span>
          </a>
          <ul class="sub-menu">
            <% if current_user.admin? %>
              <li><a href="<%= users_path %>">  <i class="fas fa-users-cog"></i>&nbsp;<span>Users</span></a></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <!-- begin sidebar minify button -->
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
