<div id="top-menu" class="top-menu">
    <!-- begin top-menu nav -->
    <ul class="nav bg-inverse">
      <li><a href="<%= dashboard_path %>" class="<%= (params[:controller] == 'static_pages' && params[:controller] == 'index') ? 'active' : ''%>"><i class="fas fa-columns"></i> <span>Dashboard</span></a></li>
      <li><a href="<%= maps_path %>" class="<%= (params[:controller] == 'static_pages' && params[:controller] == 'maps') ? 'active' : ''%>"><i class="fas fa-map-marked-alt"></i><span>Map</span></a></li>
      <li><a href="<%= drivers_path %>" class="<%= (params[:controller] == 'users' && params[:controller] == 'drivers') ? 'active' : ''%>"><i class="fas fa-biking"></i> <span>Drivers</span></a></li>
        <li><a href="<%= customers_path %>" class="<%= (params[:controller] == 'users') ? 'active' : ''%>"><i class="fas fa-users"></i> <span>Customers</span></a></li>
      <li><a href="<%= settings_path %>" class="<%= (params[:controller] == 'settings' || params[:controller] == 'vehicles') ? 'active' : ''%>"><i class="fas fa-cog"></i> <span>Settings</span></a></li>
      <li class="menu-control menu-control-left show">


        <a href="javascript:;" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
      </li>
      <li class="menu-control menu-control-right show">
        <a href="javascript:;" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
      </li>
    </ul>
</div>
