<div id="header" class="header navbar-default">
  <!-- begin navbar-header -->
  <div class="navbar-header">
    <!-- <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>PB</b> Platform</a> -->
    <a href="<%= authenticated_root_path %>" class="navbar-brand"><b class="text-success">eShip</b>
      &nbsp;<span style="vertical-align: middle;"><%= user_signed_in? ? (current_user.has_role?(:admin) ? ' Portal' : ' User') : ''%></span>
      &nbsp;<small class="version">v2.0</small>
    </a>
    <!-- <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->
  </div>
  <!-- end navbar-header -->

  <% if user_signed_in? %>
  <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">
      <!-- <li>
        <form class="navbar-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter keyword" />
            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </li> -->
      <% if current_user.has_role?(:admin) %>
        <% audits = Audit.today %>
        <li class="dropdown">
          <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
            <i class="fa fa-bell"></i>
            <% if audits.length > 0 %>
              <span class="label"><%= audits.length %></span>
            <% end %>
          </a>
          <ul class="notification dropdown-menu media-list dropdown-menu-right">
            <li class="dropdown-header">NOTIFICATIONS (<%= audits.length %>)</li>
            <% if audits.length > 0%>
              <% audits.limit(10).each do |audit|%>
                <li class="media">
                  <div class="media-body notification-padding">
                    <h6 class="media-heading"><%= audit.on_sentence(current_user).html_safe %></h6>
                    <div class="text-muted f-s-11"><%= audit.created_at %></div>
                  </div>
                </li>
              <% end %>
            <% else %>
              <li class="text-center width-300 p-b-10">
                No notification found today. :)
              </li>
            <% end %>
            <li class="media">
              <div class="media-body notification-padding text-center">
                <h6 class="media-heading"><%#= link_to "See all notifications", logs_path%></h6>
              </div>
            </li>
          </ul>
        </li>
      <% end %>
      <li class="dropdown navbar-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
          <% if !current_user.avatar.nil?  %>
            <% if current_user.avatar.attached? %>
              <% if FileTest.exist?(url_for(current_user.avatar))%>
                <div class="image extend_image">
                  <%= image_tag current_user.avatar %>
                </div>
              <% else %>
                <div class="image image-icon bg-black text-grey-darker">
                  <i class="fa fa-user"></i>
                </div>
              <% end %>
            <% else %>
              <div class="image image-icon bg-black text-grey-darker">
                <i class="fa fa-user"></i>
              </div>
            <% end %>
          <% else %>
            <div class="image image-icon bg-black text-grey-darker">
              <i class="fa fa-user"></i>
            </div>
          <% end %>
          <span class="d-none d-md-inline">
          <%= (!current_user.first_name.nil? && !current_user.last_name.nil?) ? (current_user.first_name + " " + current_user.last_name) : current_user.email.downcase %></span> <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to('Edit Profile', edit_user_registration_path, class: "dropdown-item") %>
          <div class="dropdown-divider"></div>
          <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
        </div>
      </li>
    </ul>
  <% end %>
  <!-- end header navigation right -->
</div>
