<div class="form-group row m-b-15">
  <%= form.label :customer_type, 'customer Type:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
      <%= form.select :customer_type, options_for_select(['Driver'], (@carrier_contact.customer ? @carrier_contact.customer.customer_type : '')),{:include_blank => true}, class: 'form-control' %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :avatar, 'Avatar:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.file_field :avatar %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :email, 'E-mail:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.email_field :email, class: 'form-control' %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :password, 'Password:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.password_field :password, class: 'form-control' %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :password_confirmation, 'Confirm Password:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>
</div>
