<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New customers' : "Edit customer - #{customer.first_name} #{customer.last_name}" %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title lp-header"><%= params[:action] == 'new' ? 'Create New customers' : "Edit customer - #{customer.first_name} #{customer.last_name}" %></h4>
  </div>
  <div class="panel-body">
    <%= form_with(url: ((params[:action] == 'new' || params[:action] == 'create') ? "/customers/create" : "/customers/#{customer.id}"),model: customer, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
      <% if customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(customer.errors.count, "error") %> prohibited this client from being saved:</h2>
          <ul>
            <% customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group row m-b-15">
        <%= form.label :first_name, 'First Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :first_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :last_name, 'Last Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :last_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :avatar, 'Avatar:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.file_field :avatar %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :email, 'E-mail:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.email_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :password, 'Password:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :password_confirmation, 'Confirm Password:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label" >Admin</label>
        <div class="col-md-9 col-sm-8">
          <input type="checkbox" name="is_admin" data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)" <%= customer.has_role?(:admin) ? 'checked' : '' %>/>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label">Driver</label>
        <div class="col-md-9 col-sm-8">
          <input type="checkbox" name="is_driver" data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)" <%= (customer.has_role?(:driver) ||  params[:is_driver])? 'checked' : '' %>/>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label">customer</label>
        <div class="col-md-9 col-sm-8">
          <input type="checkbox" name="is_customer" data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)" <%= customer.has_role?(:customer) ? 'checked' : '' %>/>
        </div>
      </div>
      <div class="form-group row m-b-0">
        <label class="text-right col-md-2 col-sm-4 col-form-label">&nbsp;</label>
        <div class="col-md-9 col-sm-8">
          <%= form.submit 'Submit', :class => 'btn btn-primary' %>
          <% if params[:action] == 'edit' %>
            &nbsp;&nbsp;<a class="btn btn-info" href="/customers/<%= customer.id %>">Show</a>
          <% end %>
          <% if params[:action] == 'new' %>
            &nbsp;&nbsp;<%= link_to 'Back', customers_path, :class => 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- end panel -->
