
<table id="table_id" class="table table-bordered display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>City</th>
    <th>Phone</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
    <tr>
      <td><%= customer.full_name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.city %></td>
      <td><%= customer.phone_number %></td>
      <td>
          <a class="btn btn-warning btn-xs" href="/customers/<%= customer.id %>/edit"><i class="far fa-edit"></i></a>
          <a data-confirm="Are you sure?" class="btn btn-danger btn-xs" rel="nofollow" data-method="delete" href="/customers/<%= customer.id %>"><i class="fas fa-trash-alt"></i></a>
      </td>

    </tr>
    <% end %>

  </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>