<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <%= link_to 'New Driver', customers_new_path(:is_driver => true), :class => 'btn btn-light btn-xs' %>
    </div>
    <h4 class="panel-title lp-header">Drivers</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">
			<thead>
				<tr class="odd gradeX">
					<th>Name</th>
					<th>Email</th>
					<th>Phone #</th>
					<th>Ratings</th>
			    <th data-orderable="false">Actions</th>
				</tr>
			</thead>
			<tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer["name"] %></td>
						<td><%= customer["email"] %></td>
						<td><%= customer["phoneNumber"] %></td>
						<td>
							<div class="rating">
								<% @count = 1 %>
								<% while @count <= customer["rating"].to_i %>
									<span class="star active"></span>
									<% @count = @count + 1%>
								<% end %>
								<% @count = 1 %>
								<% @not_rated = 5 - customer["rating"].to_i %>
								<% while @count <= @not_rated %>
									<span class="star"></span>
									<% @count = @count + 1%>
								<% end %>
							</div>
						</td>
            <td>
              <a class="btn btn-warning btn-xs" href="/customers/<%= customer["uid"] %>/edit"><i class="far fa-edit"></i></a>
              <a data-confirm="Are you sure?" class="btn btn-danger btn-xs" rel="nofollow" data-method="delete" href="/customers/<%= customer["uid"] %>"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
