<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New customers' : "Edit customer - #{customer.first_name} #{customer.last_name}" %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title lp-header">Edit Customer</h4>
  </div>
  <div class="panel-body">
    <%= form_with(url: "/customers/#{@customer['uid']}", local: true, :method => :put, :html => {id: 'edit_customer', class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
      <%= form.hidden_field :uid, value: @customer['uid'] %>
      <div class="form-group row m-b-15">
        <%= form.label :first_name, 'First Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :first_name, class: 'form-control', value: @customer['first_name'], required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :middle_name, 'Middle Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :middle_name, class: 'form-control', value: @customer['middle_name'] %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :last_name, 'Last Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :last_name, class: 'form-control', value: @customer['last_name'], required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :phone_number, 'Phone Number:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :phone_number, class: 'form-control', value: @customer['phoneNumber'], required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :address, 'Address:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :address, class: 'form-control', value: @customer['present_address'], required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :gender, 'Gender:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :gender, options_for_select([['Female', 'female'], ['Male', 'male']], @customer['gender']), {:prompt => 'Select Gender'}, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :birth_date, 'Birth Date:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.date_field :birth_date, :class => 'form-control', value: @customer['birth_date'], placeholder: 'Birth Date', required: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :email, 'E-mail:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.email_field :email, class: 'form-control', value: @customer['email'] %>
        </div>
      </div>
      <div class="form-group row m-b-0">
        <label class="text-right col-md-2 col-sm-4 col-form-label">&nbsp;</label>
        <div class="col-md-9 col-sm-8">
          <%= form.submit 'Submit', :class => 'btn btn-primary' %>
          &nbsp;&nbsp;<%= link_to 'Back', customers_path, :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- end panel -->
