<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <%= link_to 'New Customers', customers_new_path, :class => 'btn btn-light btn-xs' %>
    </div>
    <h4 class="panel-title lp-header">customers</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">
			<thead>
			<tr class="odd gradeX">
				<th>Name</th>
				<th>Gender</th>
				<th>Email</th>
				<th>Phone #</th>
				<th>Address</th>
				<th data-orderable="false">Actions</th>
			</tr>
			</thead>
			<tbody>
        <% @customers.each do |customer| %>
          <tr>
						<td><%= customer["first_name"] %> <%= customer["last_name"] %></td>
						<td><%= customer["gender"] %></td>
						<td><%= customer["email"] %></td>
						<td><%= customer["phoneNumber"] %></td>
						<td><%= customer["present_address"] %></td>
						<td>
							<a class="btn btn-warning btn-xs" href="/customers/<%= customer["uid"] %>/edit"><i class="far fa-edit"></i></a>
							<a data-confirm="Are you sure?" class="btn btn-danger btn-xs" rel="nofollow" data-method="delete" href="/customers/<%= customer["uid"] %>"><i class="fas fa-trash-alt"></i></a>
						</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
