<!-- begin page-header -->
<div class="header-violet">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: generate_alphanumeric_id("#{@customer.first_name} #{@customer.last_name}", @customer.id), sub_header_title: "#{@customer.first_name} #{@customer.last_name}" %>
  </h1>
  <span class="pull-right">
    <%= link_to 'Edit', edit_customer_path(@customer), :class => 'btn btn-warning btn-xs' %>
    <%= link_to 'Back', customers_path, :class => 'btn btn-info btn-xs' %>
    <%= link_to 'Delete', @customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
  </span>
</div>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <!-- <div class="panel-heading">
    <div class="panel-heading-btn">

    </div>
  </div> -->
  <div class="panel-body">
    <h4 class="text-inverse">Details</h4>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Administrator:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @customer.has_role?(:admin) ? "<i class='fas fa-check fa-2x text-success'></i>".html_safe : "<i class='fas fa-times fa-2x text-danger'></i>".html_safe %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Driver:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @customer.has_role?(:driver) ? "<i class='fas fa-check fa-2x text-success'></i>".html_safe : "<i class='fas fa-times fa-2x text-danger'></i>".html_safe %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">customer:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @customer.has_role?(:customer) ? "<i class='fas fa-check fa-2x text-success'></i>".html_safe : "<i class='fas fa-times fa-2x text-danger'></i>".html_safe %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">Name:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @customer.first_name.capitalize %>&nbsp;<%= @customer.last_name.capitalize %>
      </div>
    </div>

    <div class="row">
      <label class="col-md-2 text-right m-position-left col-form-label">E-mail:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @customer.email %>
      </div>
    </div>

  </div>
</div>
<!-- end panel -->
