<ion-content>
  <div class="login-header">
    <img src="./assets/img/logo-2.png" />
    <h2 ion-text color="light">{{'RIDER' | translate}}</h2>
  </div>
  <div padding>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">{{'FIRST_NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'MIDDLE_NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="middle_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'LAST_NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'GENDER' | translate }}</ion-label>
        <ion-select placeholder=" Select gender" [(ngModel)]="gender">
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="male">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'ADDRESS' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'BIRTH_DATE' | translate }}</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="birth_date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'EMAIL_ADDRESS' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'PASSWORD' | translate }} (MIN 6 CHAR)</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'PHONE_NUMBER' | translate }}</ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>
      <div padding>
        <ion-button color="dark" expand="block" (click)="signup()">
          {{'REGISTER' | translate}}
        </ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="dark" fill="clear" expand="block" routerLink="/login">{{'LOGIN' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>