
ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-list{
    --background: #3880ff;
    --color: #fff;
    background: none;
}

ion-item-sliding{
    --background: #3880ff;
    --color: #fff;
}

ion-list-header {
  --background: #3880ff;
  --color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
a {
  --color: #fff;
}