<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding color="primary">
  <div *ngIf="user != undefined">
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
    </ion-card>
      <ion-list>

          <ion-item>
            <ion-label>{{ user["first_name"]  }} {{ user["last_name"]  }} </ion-label>
            <ion-note slot="end" color="light">Name</ion-note>
          </ion-item>
          <ion-item>
            <ion-note slot="end" color="light">City</ion-note>
            <ion-label>{{ user["city"] }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-note slot="end" color="light">Phone Number</ion-note>
            <ion-label>{{ user["phone_number"] }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-note slot="end" color="light">Email Address</ion-note>
            <ion-label>{{ user["email"] }}</ion-label>
          </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Settings
        </ion-list-header>

          <ion-item routerLink="/profile/edit" routerDirection="root">
            <ion-label >Edit Profile</ion-label>
          </ion-item>
          <ion-item (click)="logout()">
            <ion-label >Sign out</ion-label>
          </ion-item>

      </ion-list>
  </div>
</ion-content>