<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ user.first_name }} {{ user.last_name }}</ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment [(ngModel)]="tabs">
    <ion-segment-button value="profile">
      {{'BASIC_PROFILE' | translate}}
    </ion-segment-button>
    <ion-segment-button value="carinfo">
      {{'CAR_INFO' | translate }}
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="tabs" class="ion-padding">
    <div *ngSwitchCase="'profile'">
      <div style="text-align: center;">
        <img src="{{ user.photoURL }}" onError="this.src='assets/img/default-dp.png'" style="width:50px;height:50px;border-radius:100px" (click)="chooseFile()">
        <form ngNoForm>
          <input id="avatar" name="file" type="file" (change)="upload()">
        </form>
      </div>
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked" color="primary">{{'FIRST_NAME' | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.first_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">{{'MIDDLE_NAME' | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.middle_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">{{'LAST_NAME' | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.last_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">{{'BIRTH_DATE' | translate}}</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="user.birth_date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">{{'GENDER' | translate}}</ion-label>
          <ion-select placeholder=" Select gender" [(ngModel)]="user.gender">
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">{{'ADDRESS' | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'EMAIL_ADDRESS' | translate}}</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" disabled placeholder="{{'EMAIL_ADDRESS' | translate}}">
          </ion-input>
          <ion-button ion-button item-right clear *ngIf="!user.isEmailVerified" (click)="verifyEmail()">
            {{'VERIFY' | translate}}</ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'PHONE_NUMBER' | translate}}</ion-label>
          <ion-input type="tel" [(ngModel)]="user.phoneNumber" [disabled]="user.isPhoneVerified"
            placeholder="{{'PHONE_NUMBER' | translate}}"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'carinfo'">
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">{{'CAR_BRAND' | translate}}</ion-label>
          <span>{{user.brand}}</span>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'CAR_MODEL' | translate}}</ion-label>
          <span>{{user.brand}}</span>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'PLATE_NUMBER' | translate}}</ion-label>
          <span>{{user.plate}}</span>
        </ion-item>
        <ion-item *ngIf="types">
          <ion-label position="stacked">{{'CAR_TYPE' | translate}}</ion-label>
          <span>{{user.type}}</span>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="save()">{{'SAVE' | translate}}</ion-button>
</ion-footer>