<% if @status == "Approved" %>
  Congratulation! Your account has been <b>APPROVED</b>.
  <br/>
  <h4>Account Information</h4>
  <br/>
  <b>Name: </b> <%= @name %>
  <br/>
  <b>Password: </b> <%= @password %>
  <br/>
  <br/>
  <a href="#">Download the eShip App now!</a>
<% else %>
  We are sorry! Your account has been <b>DECLINED</b>.
  <br/>
  <br/>
  <h4>Account Information</h4>
  <br/>
  <br/>
  <b>Name: </b> <%= @name %>
  <br/>
  <br/>
  <a href="#">Please try again later.</a>
<% end %>